@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon-font/icomoon.eot?9uhn4c");
  src: url("../fonts/icon-font/icomoon.ttf?9uhn4c") format("truetype"),
    url("../fonts/icon-font/icomoon.woff?9uhn4c") format("woff"),
    url("../fonts/icon-font/icomoon.svg?9uhn4c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leather:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-eye:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-shuffle:before {
  content: "\e906";
}
.icon-repeat:before {
  content: "\e907";
}
.icon-dislike:before {
  content: "\e908";
}
.icon-like:before {
  content: "\e909";
}
.icon-player-next:before {
  content: "\e90a";
}
.icon-player-prev:before {
  content: "\e90b";
}
.icon-volume:before {
  content: "\e90c";
}
.icon-chevron-l:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-tiktok:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-play-rounded:before {
  content: "\e913";
}
