//
// Scaffolding
// --------------------------------------------------
html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: radial-gradient(
      54.68% 54.68% at 50% 45.32%,
      #050547 0%,
      #000022 100%
    ),
    $white;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: $white;
}

main {
  flex: 1;
}

img {
  width: 100%;
}

svg {
  display: block;
}

cite {
  font-style: normal;
}

.container {
  padding: 0 40px;
}
