//
// Scaffolding
// --------------------------------------------------

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// * {
//   outline: 1px solid red;
// }

html {
  // overflow-x: hidden;
  // overflow-y: auto;
}

body {
  background: radial-gradient(
      81.91% 108.97% at 23.88% 18.09%,
      rgba(255, 255, 255, 0.126) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(54.68% 54.68% at 50% 45.32%, #050547 0%, #000022 100%),
    #ffffff;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: $white;
  position: relative;
}

main {
  flex: 1;
  overflow: hidden;
  padding-top: var(--headerHeight);
  position: relative;
}

img {
  width: 100%;
}

svg {
  display: block;
}

cite {
  font-style: normal;
}

section {
  --sectionPaddingBottom: 100px;
  --sectionPaddingTop: 100px;
  padding-bottom: var(--sectionPaddingBottom);
  @media (max-width: 1367px) {
    --sectionPaddingBottom: 80px;
    --sectionPaddingTop: 80px;
  }
  @media (max-width: 1024px) {
    --sectionPaddingBottom: 60px;
    --sectionPaddingTop: 60px;
  }
  @media (max-width: 767px) {
    --sectionPaddingBottom: 50px;
    --sectionPaddingTop: 50px;
  }
}

.container {
  padding: 0 40px;
  @media (max-width: 1700px) {
    width: 100%;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}
