.section-title {
  font-size: 32px;
  line-height: 38px;
  color: $white;
  font-weight: 600;
  @media (min-width: 767px) {
    font-size: 42px;
    line-height: 50px;
  }
  @media (min-width: 1024px) {
    font-size: 42px;
    line-height: 50px;
  }
  @media (min-width: 1366px) {
    font-size: 52px;
    line-height: 62px;
  }
  @media (min-width: 1700px) {
    font-size: 56px;
    line-height: 67px;
  }
}

.section-text {
  font-size: 14px;
  line-height: 140%;
  font-weight: 300;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 1.4103)), 36px);
  .text-blue {
    font-weight: 600;
  }
}

.section-subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: $white;
  @media (min-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
  @media (min-width: 1024px) {
    font-size: 28px;
    line-height: 39px;
  }
  @media (min-width: 1366px) {
    font-size: 32px;
    line-height: 45px;
  }
  @media (min-width: 1700px) {
    font-size: 42px;
    line-height: 59px;
  }
}

.gradient-title {
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  font-weight: 900;
  text-transform: uppercase;

  background-color: #ffb98e;
  background: linear-gradient(101.21deg, #ffb98e 10.75%, #ffa1f6 91.61%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
