.section-title {
  font-size: 32px;
  line-height: 38px;
  color: $white;
  font-weight: 600;
  @media (min-width: 767px) {
    font-size: 42px;
    line-height: 50px;
  }
  @media (min-width: 1024px) {
    font-size: 52px;
    line-height: 62px;
  }
  @media (min-width: 1366px) {
    font-size: 60px;
    line-height: 67px;
    margin-bottom: 50px;
  }
  @media (min-width: 1700px) {
    font-size: 72px;
    line-height: 86px;
  }
}

.section-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  @media (min-width: 767px) {
    font-size: 16px;
    line-height: 22px;
  }
  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 28px;
  }
  @media (min-width: 1366px) {
    font-size: 28px;
    line-height: 39px;
  }
  @media (min-width: 1700px) {
    font-size: 36px;
    line-height: 50px;
  }
}

.section-subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: $white;
  @media (min-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
  @media (min-width: 1024px) {
    font-size: 28px;
    line-height: 39px;
  }
  @media (min-width: 1366px) {
    font-size: 32px;
    line-height: 45px;
  }
  @media (min-width: 1700px) {
    font-size: 42px;
    line-height: 59px;
  }
}
