//
// Variables
// --------------------------------------------------

//== Colors
// --------------------------------------------------

$gray-super-light:   #f7f6f6;
$gray-lighter:      #8f9093;
$gray-light:        #5f6975;
$gray:              #0a3039;
$gray-dark:         #272425;
$gray-darker:       #000000;

$primary:           #C21622;


//== Font Family
// --------------------------------------------------


//== Media queries (responsive breakpoints)
// -------------------------------------------------------

$desktop:   		   '1200px';
$tablet-land:      '991px';
$tablet-port:    	 '768px';
$mobile-land:		 	 '480px';
$mobile-port:		 	 '360px';
$menu-collapse: 	 $tablet-land;
