//
// Variables
// --------------------------------------------------

:root {
  --headerHeight: 62px;
}

@media (min-width: 768px) {
  :root {
    --headerHeight: 72px;
  }
}

@media (min-width: 1024px) {
  :root {
    --headerHeight: 80px;
  }
}

@media (min-width: 1366px) {
  :root {
    --headerHeight: 128px;
  }
}

@media (min-width: 1700px) {
  :root {
    --headerHeight: 135px;
  }
}

//== Colors
// --------------------------------------------------

$white: #fff;
$gray-super-light: #f7f6f6;
$gray-lighter: #8f9093;
$gray-light: #5f6975;
$gray: #0a3039;
$gray-dark: #272425;
$gray-darker: #000000;
$blue: #abefff;
$dark-blue: #073184;
$blue-secondary: #076a9c;
$blue-saturated: #42d1f7;
$blue-btn: #72ddf6;

$red: #da2b2b;

$primary: #c21622;

//== Font Family
// --------------------------------------------------

$font-family: Museo Sans;

//== Media queries (responsive breakpoints)
// -------------------------------------------------------

$desktop: "1200px";
$tablet-land: "991px";
$tablet-port: "768px";
$mobile-land: "480px";
$mobile-port: "360px";
$menu-collapse: $tablet-land;
