.artist-wrapper {
  margin-top: calc(-1 * var(--headerHeight));
  position: relative;
  .swiper-nav {
    padding: 0;
  }
}

.artist-hero {
  position: relative;
  padding: 70px 0 0;
  margin-bottom: 100px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      356.74deg,
      rgba(14, 15, 63, 0.5) 2.69%,
      rgba(27, 27, 59, 0.24) 45.55%,
      rgba(9, 9, 62, 0.42) 97.22%
    );
    z-index: 1;
  }
  .artist-hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 1;
  }
  .artist-hero__caption {
    position: relative;
    z-index: 3;
    margin-bottom: 21px;
    padding-top: 40px;
  }
  .artist-hero__title {
    text-transform: uppercase;
    font-size: clamp(32px, calc(2rem + ((1vw - 3.6px) * 7.1795)), 144px);

    line-height: 130%;
    margin-bottom: 10px;
    color: $white;
  }
  .artist-hero__description {
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.641)), 24px);
    line-height: 140%;
    color: $white;
    margin-bottom: 24px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  .back-btn {
    z-index: 2;
    margin-top: 15px;
  }
  .plyr__video-wrapper {
    height: 100%;
    margin: 0;
  }
  .plyr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
    &:fullscreen {
      opacity: 1;
      visibility: visible;
      z-index: 10000000;
    }
    iframe,
    video {
      height: calc(100% + 400px);
      width: 100vw;
      top: -200px;
    }
  }
  .play-btn {
    transition: 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .pause-icon {
      width: 18px;
      height: 18px;
    }
    .play-icon {
      width: 25px;
      height: 25px;
    }
  }
  .artist-hero__buttons {
    position: relative;
    width: 100%;
    height: 58px;
    z-index: 2;
  }
  .plyr--fullscreen-fallback {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 10000000 !important;
    height: 100vh;
    position: fixed;
  }
  @media (min-width: 768px) {
    padding-bottom: 70px;
    .artist-hero__caption {
      padding-top: 50px;
      position: static;
    }
    .artist-hero__title {
      position: relative;
      z-index: 2;
    }
    .artist-hero__description {
      max-width: 350px;
      margin-bottom: 1.5rem;
      position: relative;
      z-index: 2;
    }
    .artist-hero__buttons {
      position: absolute;
      height: 72px;
      bottom: 90px;
      left: 2.5rem;
    }
  }
  @media (min-width: 1024px) {
    min-height: 100vh;
    padding-top: 100px;
    .artist-hero__caption {
      padding-top: 80px;
    }
    .artist-hero__description {
      max-width: 375px;
    }
    .artist-hero__buttons {
      height: 82px;
    }
    .play-btn {
      .pause-icon {
        width: 25px;
        height: 25px;
      }
      .play-icon {
        width: 35px;
        height: 35px;
      }
    }
  }
  @media (min-width: 1366px) {
    padding-top: 130px;
    .artist-hero__caption {
      padding-top: 80px;
    }
    .artist-hero__description {
      max-width: 550px;
    }
    .artist-hero__buttons {
      height: 102px;
      position: relative;
      bottom: 0;
      left: 0;
      margin-top: 120px;
    }
    .artist-collapse {
      position: absolute;
      bottom: 60px;
      right: 0;
    }
    .play-btn {
      .pause-icon {
        width: 35px;
        height: 35px;
      }
      .play-icon {
        width: 45px;
        height: 45px;
      }
    }
  }
  @media (min-width: 1700px) {
    padding-bottom: 150px;
    .artist-hero__caption {
      padding-top: 100px;
    }
    .artist-hero__title {
      margin-bottom: 20px;
    }
    .artist-hero__description {
      max-width: 680px;
    }
    .artist-collapse {
      bottom: 211px;
    }
    .play-btn {
      .pause-icon {
        width: 45px;
        height: 45px;
      }
      .play-icon {
        width: 55px;
        height: 55px;
      }
    }
  }
  @media (min-width: 1760px) {
    padding-bottom: 150px;
  }
}

.artist-hero__collapse {
  --colapseRadius: 40px;
  --textLineHeight: 1.5;
  --linesMax: 15;
  --textClamp: 6;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgba(202, 202, 222, 0.17) 0%,
    rgba(202, 202, 222, 0) 100%
  );
  backdrop-filter: blur(39px);
  border-top-left-radius: var(--colapseRadius);
  border-bottom-left-radius: var(--colapseRadius);
  padding-top: 17px;
  padding-bottom: 25px;
  padding-left: 28px;
  padding-right: 30px;
  transform: translateY(20px);
  width: calc(100% + 1.25rem);
  .artist-hero__collapse-header {
    padding-bottom: 18px;
  }
  .artist-hero__collapse-title {
    font-size: 18px;
    line-height: 22px;
  }
  .artist-hero__collapse-btn {
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 33px;
    padding-right: 20px;
    position: relative;
    border: none;
    display: block;
    outline: none;
    background: none;
    appearance: none;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #72ddf6;
      opacity: 0.4;
      filter: blur(60px);
    }
    span {
      color: $blue;
      text-shadow: 0px 0px 6px rgba(0, 154, 241, 0.78);
      &:nth-child(2) {
        display: none;
      }
    }
  }
  .artist-hero__collapse-text {
    font-size: 14px;
    line-height: var(--textLineHeight);
    font-weight: 400;
    color: #fff;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: var(--textClamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    max-height: calc(6 * 14px * var(--textLineHeight));
  }
  &.active {
    .artist-hero__collapse-text {
      max-height: calc(var(--linesMax) * 14px * var(--textLineHeight));
      -webkit-line-clamp: var(--linesMax);
      white-space: pre-wrap;
    }
    .artist-hero__collapse-btn {
      span {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
  @media (min-width: 575px) {
    --textClamp: 4;
  }
  @media (min-width: 768px) {
    --textClamp: 5;
    padding: 30px 40px;
    margin-bottom: 0;
    max-width: 474px;
    width: 100%;
    margin-left: auto;
    .artist-hero__collapse-title {
      font-size: 24px;
      line-height: 29px;
    }
    .artist-hero__collapse-btn {
      font-size: 24px;
    }
    .artist-hero__collapse-text {
      font-size: 16px;
      max-height: calc(5 * 16px * var(--textLineHeight));
    }
  }
  @media (min-width: 1024px) {
    padding-top: 30px;
    padding-left: 49px;
    padding-bottom: 30px;
    padding-right: 40px;
    max-width: 540px;
    .artist-hero__collapse-title {
      font-size: 28px;
      line-height: 34px;
    }
    .artist-hero__collapse-btn {
      font-size: 28px;
    }
    .artist-hero__collapse-text {
      font-size: 18px;
      max-height: calc(6 * 18px * var(--textLineHeight));
    }
  }
  @media (min-width: 1366px) {
    --colapseRadius: 60px;
    --textClamp: 4;
    padding: 30px 40px 40px;
    max-width: 593px;
    .artist-hero__collapse-title {
      font-size: 32px;
      line-height: 38px;
    }
    .artist-hero__collapse-btn {
      font-size: 32px;
    }
    .artist-hero__collapse-text {
      font-size: 19px;
      max-height: calc(4 * 20px * var(--textLineHeight));
    }
  }
  @media (min-width: 1700px) {
    --textClamp: 4;
    --colapseRadius: 80px;
    padding: 40px 60px 60px;
    max-width: 800px;
    margin-top: -80px;
    .artist-hero__collapse-title {
      font-size: 48px;
      line-height: 58px;
    }
    .artist-hero__collapse-btn {
      font-size: 48px;
    }
    .artist-hero__collapse-text {
      font-size: 24px;
      max-height: calc(4 * 24px * var(--textLineHeight));
    }
  }
}

.swiper-slide-active {
  .artist-albums__item {
    pointer-events: all;
  }
}

.artist-albums__item {
  display: block;
  color: inherit;
  text-decoration: none;
  pointer-events: none;
  user-select: none;
  .events-slider__img-inner {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: 1;
  }
  @include hover {
    .albums-slider-title {
      color: $blue-saturated;
      transition: 0.25s;
    }
  }
}

@media (min-width: 768px) {
  .artist-collapse {
    transform: translateX(2.5rem);
    z-index: 3;
  }
}

@media (min-width: 1024px) {
  .artist-collapse {
    margin-top: -100px;
  }
}

@media (min-width: 1760px) {
  .artist-collapse {
    position: absolute;
    right: 0;
    bottom: 211px;
  }
}

.artist-events-absolute {
  img {
    &:nth-child(1) {
      width: #{randomNum(8, 10)}vw;
      top: #{randomNum(0, 2)}vw;
      left: #{randomNum(20, 25)}vw;
    }
    &:nth-child(2) {
      width: #{randomNum(10, 15)}vw;
      bottom: #{randomNum(0, 5)}vw;
      left: #{randomNum(15, 25)}vw;
    }
    &:nth-child(3) {
      width: #{randomNum(35, 50)}vw;
      bottom: #{randomNum(-2, -5)}vw;
      right: #{randomNum(15, 20)}vw;
    }
    @media (min-width: 768px) {
      &:nth-child(1) {
        width: #{randomNum(2, 4)}vw;
        top: #{randomNum(0, 2)}vw;
        left: #{randomNum(20, 25)}vw;
      }
      &:nth-child(2) {
        width: #{randomNum(5, 7)}vw;
        bottom: #{randomNum(0, 5)}vw;
        left: #{randomNum(30, 45)}vw;
      }
      &:nth-child(3) {
        width: #{randomNum(30, 35)}vw;
        bottom: #{randomNum(-15, -25)}vw;
        right: #{randomNum(15, 20)}vw;
      }
    }
  }
}
