.artist-hero {
  position: relative;
  padding: 70px 0 0;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      356.74deg,
      rgba(14, 15, 63, 0.5) 2.69%,
      rgba(27, 27, 59, 0.24) 45.55%,
      rgba(9, 9, 62, 0.42) 97.22%
    );
  }
  .artist-hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .artist-hero__caption {
    position: relative;
    z-index: 1;
    margin-bottom: 21px;
    padding-top: 40px;
  }
  .artist-hero__title {
    text-transform: uppercase;
    font-size: clamp(32px, calc(2rem + ((1vw - 3.6px) * 7.1795)), 144px);
    line-height: 130%;
    margin-bottom: 10px;
    color: $white;
  }
  .artist-hero__description {
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.641)), 24px);
    line-height: 140%;
    color: $white;
    margin-bottom: 24px;
  }
  .back-btn {
    z-index: 2;
  }
  @media (min-width: 768px) {
  }
}

.artist-hero__collapse {
  --colapseRadius: 30px;
  --textLineHeight: 1.5;
  --linesMax: 15;
  --textClamp: 6;
  margin-left: 1rem;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgba(202, 202, 222, 0.17) 0%,
    rgba(202, 202, 222, 0) 100%
  );
  backdrop-filter: blur(39px);
  border-top-left-radius: var(--colapseRadius);
  border-bottom-left-radius: var(--colapseRadius);
  padding-top: 17px;
  padding-bottom: 25px;
  padding-left: 28px;
  padding-right: 30px;
  transform: translateY(20px);
  margin-top: -20px;
  .artist-hero__collapse-header {
    padding-bottom: 18px;
  }
  .artist-hero__collapse-title {
    font-size: 18px;
    line-height: 22px;
  }
  .artist-hero__collapse-btn {
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 33px;
    padding-right: 20px;
    position: relative;
    border: none;
    display: block;
    outline: none;
    background: none;
    appearance: none;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #72ddf6;
      opacity: 0.4;
      filter: blur(60px);
    }
    span {
      color: $blue;
      text-shadow: 0px 0px 6px rgba(0, 154, 241, 0.78);
      &:nth-child(2) {
        display: none;
      }
    }
  }
  .artist-hero__collapse-text {
    font-size: 14px;
    line-height: var(--textLineHeight);
    font-weight: 400;
    color: #fff;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: var(--textClamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    max-height: calc(6 * 14px * var(--textLineHeight));
  }
  &.active {
    .artist-hero__collapse-text {
      max-height: calc(var(--linesMax) * 14px * var(--textLineHeight));
      -webkit-line-clamp: var(--linesMax);
      white-space: pre-wrap;
    }
    .artist-hero__collapse-btn {
      span {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
  @media (min-width: 575px) {
    --textClamp: 4;
  }
  @media (min-width: 768px) {
    --textClamp: 5;
    transform: translateX(2.5rem);
    margin-bottom: 50px;
    > * {
      max-width: 474px;
    }
  }
}
