/* Hero slider audio player */

.hero-slider .plyr {
  min-width: auto;
}

.hero-slider .plyr--audio .plyr__controls {
  background-color: transparent;
}

.hero-slider .plyr__control svg {
  fill: $blue;
  transition: 0.25s;
}

.hero-slider .plyr__controls {
  padding: 0;
}

.hero-slider {
  .plyr--audio {
    .plyr__control {
      &.plyr__tab-focus {
        background-color: transparent;
      }
      &[aria-expanded="true"] {
        background-color: transparent;
      }
      @include hover {
        background-color: transparent;
        svg {
          fill: darken($blue, 20%);
        }
      }
    }
  }
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 280px;
  height: 52px;
  right: 1.25rem;
  bottom: 0;
  background: radial-gradient(
      54.68% 54.68% at 50% 45.32%,
      #050547 0%,
      #000022 100%
    ),
    #ffffff;
  border: 0.2px solid rgba(171, 239, 255, 0.2);
  box-shadow: 0px 4px 64px rgba(171, 239, 255, 0.35);
  border-radius: 15px;
  padding: 0 10px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
    bottom: 1.25rem;
  }
  .player-btn {
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    &.lazy-image {
      background-size: 15px;
      .play-icon {
        display: none;
      }
    }
  }
  .player-volume {
    position: relative;
  }
  .controls-divider {
    width: 1px;
    height: 100%;
    opacity: 0.3;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) -0.1%,
      #42d1f7 50.14%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0px 0px 50px rgba(0, 154, 241, 0.48);
  }
  .sound-btn,
  .player-fullscreen-btn {
    background: rgba(171, 239, 255, 0.1);
    border: 0.2px solid rgba(171, 239, 255, 0.15);
    box-shadow: 0px 0px 10px rgba(171, 239, 255, 0.2);
    border-radius: 50px;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $blue;
  }
  .player-fullscreen-btn {
    font-size: 14px;
  }
  .player-play-pause {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 32px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      box-shadow: 0px 0px 34px 6px rgba(0, 154, 241, 0.2);
      border-radius: 50%;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 32px;
      border-radius: inherit;
    }
    svg {
      position: relative;
      z-index: 3;
    }
    .player-progress {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      &::after {
        content: "";
        border-radius: inherit;
        display: block;
        border: 0.5px solid rgba(171, 239, 255, 0.2);
        width: 100%;
        height: 100%;
      }
      .player-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid red;
        width: 15%;
        // height: 100%;
        border-radius: 50%;
      }
    }
  }
  .player-play-pause-btn {
    .play-icon {
      width: 20px;
      height: 20px;
    }
    &.paused {
      .pause-icon {
        display: none;
      }
    }
    &:not(.paused) {
      .pause-icon {
        display: block;
      }
      .play-icon {
        display: none;
      }
    }
  }
  .player-next,
  .player-prev {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player-next-btn {
    transform: rotate(180deg);
  }
  .player-play-pause-btn.paused .pause-icon {
    display: block;
  }
  .player-play-pause-btn .play-icon {
    width: 12px;
    height: 12px;
  }
  .player-play-pause-btn .pause-icon {
    width: 12px;
    height: 12px;
  }
}

// ??

.player-section {
  padding-bottom: 0;
  .player-container {
    padding-inline: 0;
    @media (min-width: 1024px) {
      padding-inline: 40px;
    }
  }
}

.audio-player-wrapper {
  .sound-container {
    i {
      font-size: 22px;
      &.icon-sound-off {
        font-size: 16px;
      }
    }
    .bottom-controls-btn {
      &.active {
        .icon-volume {
          display: none;
        }
        .icon-sound-off {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
}

.player-wrapper {
  min-height: calc(100vh - var(--headerHeight) - 140px);
  &.paused {
    #play-song {
      .play-icon {
        display: none;
      }
      .pause-icon {
        display: block;
      }
    }
  }
  [data-volume-level="muted"] {
    .icon-sound-off {
      display: block;
      font-size: 12px !important;
    }
    .icon-volume {
      display: none;
    }
    .sound-control {
      background-size: 0% 100% !important;
    }
    #song-sound {
      box-shadow: 0px 0px 15px 2px rgba(0, 154, 241, 0.78);
    }
  }
  [data-volume-level="high"] {
    .icon-volume {
      display: block;
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    min-height: calc(100vh - var(--headerHeight) - 88px);
  }
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 55% 45%;
    min-height: calc(100vh - var(--headerHeight) - 112px);
  }
}

.player-big {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  .player-timer {
    display: flex;
    justify-content: center;
    gap: 3px;
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.641)), 24px);
    margin-bottom: 20px;
    span {
      opacity: 0.6;
    }
    .player-timer__end {
      opacity: 1;
    }
  }
  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: 1024px) {
    padding-inline: 0;
    .player-timer {
      margin-top: 20px;
    }
  }
  @media (min-width: 1366px) {
    .player-timer {
      width: 540px;
    }
  }
  @media (min-width: 1650px) {
    .player-timer {
      width: 836px;
    }
  }
}

[data-volume-level="muted"] {
  #song-sound {
    box-shadow: 0px 0px 15px 2px rgba(0, 154, 241, 0.78);
  }
}

.player-img__area {
  position: relative;
  .player-track__img {
    --playerImgSize: 214px;
    width: var(--playerImgSize);
    height: var(--playerImgSize);
    background-color: $blue;
    border-radius: 100%;
    margin: 0 auto 5px;
    box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
    img {
      border-radius: inherit;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      transition: 0.25s;
    }
  }
  .player-big__controls {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
  }
  .player-big__controls-btn {
    width: 42px;
    height: 42px;
    background-color: $blue-btn;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
    @include hover {
      background-color: $blue-secondary;
    }
  }
  .play-pause {
    .player-big__controls-btn {
      width: 52px;
      height: 52px;
    }
    .pause-icon {
      display: none;
      width: 20px;
      height: 20px;
    }
  }
  @media (min-width: 768px) {
    .player-track__img {
      width: 360px;
      height: 360px;
      aspect-ratio: 1 / 1;
    }
    .player-big__controls {
      width: 540px;
    }
    .player-big__controls-btn,
    .play-pause .player-big__controls-btn {
      width: 72px;
      height: 72px;
    }
    .player-big__controls-btn {
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .play-pause .player-big__controls-btn {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  @media (min-width: 1024px) {
    .player-track__img {
      width: 345px;
      height: 345px;
    }
  }
  @media (min-width: 1366px) {
    display: flex;
    justify-content: flex-start;
    padding-left: 92px;
    .player-track__img {
      width: 360px;
      height: 360px;
      margin: 0;
    }
    .player-big__controls {
      left: 0;
      transform: translateX(0) translateY(-50%);
    }
  }
  @media (min-width: 1650px) {
    padding-left: 158px;
    .player-track__img {
      width: 536px;
      height: 536px;
    }
    .player-big__controls {
      width: 856px;
    }
    .player-big__controls-btn,
    .play-pause .player-big__controls-btn {
      width: 98px;
      height: 98px;
    }
  }
}

// .player-progress {
//   position: absolute;
//   width: 222px;
//   height: 222px;
//   top: calc(50% - 3px);
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background: none;
//   .progress-bar {
//     width: 100%;
//     height: 100%;
//     border-radius: inherit;
//     z-index: -1;
//     background: none;
//     &::after {
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-radius: 50%;
//       border: 2px solid $blue-btn;
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//     > span {
//       width: 50%;
//       height: 100%;
//       overflow: hidden;
//       position: absolute;
//       top: 0;
//       z-index: 1;
//     }
//   }
// }

.tab-nav-container {
  @media (min-width: 1366px) {
    padding-right: 0;
  }
}

.tab-content {
  @media (min-width: 1024px) {
    padding-inline-start: 40px;
  }
  @media (min-width: 1366px) {
    padding-right: 0;
  }
}

.player-list {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  padding-bottom: 180px;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scrollbar-color: #abefff7a transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 7px solid transparent;
    background-clip: content-box;
    background-color: #abefff7a;
  }
  .player-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    scroll-snap-align: start;
    padding-right: 20px;
    color: $white;
    @include hover {
      .play-icon {
        opacity: 1;
        visibility: visible;
      }
      .player-list__item-artist,
      .player-list__item-media {
        color: $blue;
      }
    }
    &.playing {
      .pause-icon {
        opacity: 1;
        visibility: visible;
      }
      @include hover {
        .play-icon {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    > * {
      pointer-events: none;
    }
  }
  .player-list__item-rating {
    flex: 0 0 20px;
    margin-right: 10px;
  }
  .player-list__item-img {
    flex: 0 0 44px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    // box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
    margin-right: 10px;
    position: relative;
    img {
      border-radius: inherit;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: 0.25s;
      z-index: 3;
      &.pause-icon {
        width: 15px;
        height: 15px;
      }
    }
  }
  .player-list__item-info {
    flex: 0 0 150px;
    ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  .player-list__item-artist {
    font-size: clamp(16px, calc(1rem + ((1vw - 3.6px) * 0.5128)), 24px);
    line-height: 140%;
    transition: color 0.25s;
    ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  .player-list__item-media {
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.2564)), 18px);
    opacity: 0.8;
    transition: color 0.25s;
  }
  .player-list__item-duration {
    margin-left: auto;
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.3846)), 20px);
    opacity: 0.8;
  }

  @media (min-width: 480px) {
    .player-list__item-info {
      flex: 0 0 250px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 120px;
    .player-list__item-info {
      flex: 0 0 400px;
    }
    .player-list__item-rating {
      margin-right: 20px;
    }
    .player-list__item-img {
      margin-right: 15px;
      width: 52px;
      height: 52px;
      flex: 0 0 52px;
    }
  }
  @media (min-width: 1024px) {
    overflow-x: hidden;
    padding-inline: 0;
    padding-bottom: 100px;
    height: calc(100vh - var(--headerHeight) - 150px);
    display: flex;
    flex-flow: column;
    .player-list__item-info {
      flex: 0 0 auto;
    }
    .player-list__item-media,
    .player-list__item-artist {
      max-width: 300px;
      width: 100%;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 1;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
  }
  @media (min-width: 1366px) {
    .player-list__item-media,
    .player-list__item-artist {
      max-width: 320px;
    }
  }
  @media (min-width: 1650px) {
    .player-list__item-img {
      width: 63px;
      height: 63px;
      flex: 0 0 63px;
    }
  }
}

.player-controls__bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-auto-rows: max-content;
  row-gap: 15px;
  padding-bottom: 20px;
  padding-inline: 20px;
  grid-template-areas:
    "song-info song-info"
    "song-likes song-controls";
  width: 100%;
  height: var(--playerHeight);
  background: #02022f;
  z-index: 12;
  > * {
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: #02022f;
  }
  .form-control-line {
    top: 0;
    @media (min-width: 1650px) {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .player-controls-likes {
    grid-area: song-likes;
  }
  .player-controls-song-details {
    grid-area: song-info;
    padding: 15px 0;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    .player-controls__bottom-thumb {
      width: 42px;
      height: 42px;
      object-fit: cover;
      border-radius: 15px;
      flex: 0 0 42px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        );
      }
      img {
        border-radius: inherit;
        box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid rgba(0, 154, 241, 0.78);
      opacity: 0.3;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      border-top: 1px solid rgba(0, 154, 241, 0.78);
      opacity: 0.3;
    }
    p {
      margin-bottom: 0;
    }
    .song-name {
      font-size: clamp(16px, calc(1rem + ((1vw - 3.6px) * 0.5128)), 24px);
      line-height: 130%;
    }
    .song-media {
      font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.2564)), 18px);
      opacity: 0.8;
    }
  }
  .player-controls__bottom-actions {
    grid-area: song-controls;
    .sound-container {
      padding-block: 0;
    }
    .sound-input {
      top: -22px;
    }
  }
  .progress-area {
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    &.is-visible {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;
    height: auto;
    padding: 20px 40px;
    .progress-area {
      width: calc(100% - 80px);
      left: 40px;
      transform: translateX(0);
    }
    .player-controls-song-details {
      padding: 0;
      align-items: center;
      position: relative;
      justify-content: center;
      &::before,
      &::after {
        display: none;
      }
    }
    .player-controls-likes,
    .player-controls-song-details,
    .player-controls__bottom-actions {
      padding: 0;
    }
  }
  @media (min-width: 1024px) {
    .player-controls-song-details {
      .player-controls__bottom-thumb {
        width: 72px;
        height: 72px;
        border-radius: 20px;
        flex: 0 0 72px;
      }
    }
  }
  @media (min-width: 1650px) {
    max-width: 1760px;
    margin: 0 auto;
  }
}

.bottom-controls-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  appearance: none;
  background: rgba(171, 239, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(171, 239, 255, 0.2);
  border: none;
  color: $blue-btn;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  &.active {
    box-shadow: 0px 0px 15px 2px rgba(0, 154, 241, 0.78);
  }
  @include hover {
    box-shadow: 0px 0px 15px 2px rgba(0, 154, 241, 0.78);
  }
  i {
    pointer-events: none;
  }
  @media (min-width: 768px) {
    width: 48px;
    height: 48px;
    i {
      font-size: 18px;
    }
  }
  @media (min-width: 1024px) {
    width: 62px;
    height: 62px;
    i {
      font-size: 22px;
    }
  }
  @media (min-width: 1650px) {
    width: 50px;
    height: 50px;
  }
}

.player-controls-likes,
.player-controls__bottom-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  @media (min-width: 768px) {
    gap: 15px;
  }
  @media (min-width: 1024px) {
    gap: 20px;
  }
  @media (min-width: 1650px) {
    gap: 40px;
  }
}

.player-controls-likes {
  padding-right: 44px;
  position: relative;
  justify-content: flex-start;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50px;
    opacity: 0.3;
    border-right: 1px solid rgba(0, 154, 241, 0.78);
  }
  @media (min-width: 768px) {
    justify-content: flex-start;
    padding-right: 0;
    &::after {
      display: none;
    }
  }
}

.player-controls__bottom-actions {
  padding-left: 44px;
  @media (max-width: 359px) {
    padding-left: 15px;
  }
}

.player-tabs {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  .nav-item {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    > button {
      border: none;
      background: none;
      width: 100%;
      appearance: none;
      color: $white;
      padding-bottom: 12px;
      opacity: 0.5;
      position: relative;
      transition: opacity 0.25s;
      font-size: clamp(18px, calc(1.125rem + ((1vw - 3.6px) * 1.1538)), 36px);
      @include hover {
        &:not(.active) {
          opacity: 0.8;
        }
      }
      &.active {
        opacity: 1;
        &::after {
          content: "";
          position: absolute;
          bottom: -0.5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: rgba(0, 154, 241, 0.78);
          border-radius: 3px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    margin-bottom: 25px;
  }
  @media (min-width: 1650px) {
    margin-bottom: 40px;
  }
}

.progress-area {
  height: 10px;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 15px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #273560;
    height: 2px;
    width: 100%;
    z-index: -1;
  }
  .progress_bar {
    height: 2px;
    border-radius: inherit;
    background-color: $blue;
    box-shadow: 0px 0px 8px 2px rgba(0, 154, 241, 0.78);
    position: relative;
    width: 0;
    transition: 0.25s;
    z-index: 2;
    span {
      position: absolute;
      width: 45px;
      height: 25px;
      bottom: calc(100% + 8px);
      right: -22px;
      background: rgba(171, 239, 255, 0.1);
      box-shadow: 0px 0px 15px rgba(171, 239, 255, 0.15);
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      font-size: 14px;
      transition: 0.25s;
    }
    &::before {
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      background-color: $blue-btn;
      border-radius: inherit;
      top: 50%;
      right: -6px;
      transform: translateY(-50%);
      box-shadow: 0px 0px 8px 2px rgba(0, 154, 241, 0.78);
    }
    &::after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: inherit;
      background-color: $white;
      position: absolute;
      right: -3px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @include hover {
    .progress_bar {
      span {
        opacity: 1;
        visibility: visible;
      }
      &::before {
        opacity: 1;
      }
    }
  }
}

.song-text {
  padding-inline: 20px;
  font-size: clamp(16px, calc(1rem + ((1vw - 3.6px) * 0.5128)), 24px);
  line-height: 140%;
  height: calc(100vh - var(--headerHeight) - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 150px;
  opacity: 0.8;
  scrollbar-color: #abefff7a transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 7px solid transparent;
    background-clip: content-box;
    background-color: #abefff7a;
  }
  @media (min-width: 768px) {
    padding-inline: 40px;
  }
}

.sound-container {
  position: relative;
  padding-block: 10px;
  i {
    color: $blue;
  }
  .icon-volume {
    font-size: 12px;
    display: block;
  }
  .icon-sound-off {
    display: none;
    font-size: 10px;
  }
  @include hover {
    .sound-input {
      opacity: 1;
      visibility: visible;
    }
  }
}

.sound-control {
  width: 40px;
  height: 3px;
  border-radius: 2px;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}

#song-sound {
  &.muted {
    background: $blue-secondary;
  }
}

.sound-input {
  height: 40px;
  width: 100%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: top center;
  position: absolute;
  left: 0;
  top: -12px;
  padding-left: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, top 0.35s;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: $blue-saturated;
  cursor: pointer;
  border: none;
}

/* All the same stuff for Firefox */
.sound-control::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
  border: none;
}

/* All the same stuff for IE */
.sound-control::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: $blue-saturated;
  cursor: pointer;
  border: none;
}

/* .sound-control:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

.sound-control {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 40px;
  height: 3px;
  background: #1c2341;
  border-radius: 5px;
  background-image: linear-gradient(#72ddf6, #72ddf6);
  // background-size: 50% 100%;
  background-repeat: no-repeat;
}

[data-volume-level="muted"] {
  .icon-volume {
    display: none;
  }
  .icon-sound-off {
    display: block;
  }
  .sound-control {
    background-size: 0% 0% !important;
  }
}

/* Input Thumb */
.sound-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #6ad8f6;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.sound-control::-moz-range-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #6ad8f6;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.sound-control::-ms-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #6ad8f6;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.sound-control::-webkit-slider-thumb:hover {
  background: darken(#6ad8f6, 10%);
}

.sound-control::-moz-range-thumb:hover {
  background: darken(#6ad8f6, 10%);
}

.sound-control::-ms-thumb:hover {
  background: darken(#6ad8f6, 10%);
}

/* Input Track */
.sound-control::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.sound-control::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.sound-control::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

// ---------------------------------- //

.hero-player-section {
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/decorations/triangles-player.avif");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
  }
  .back-btn {
    cursor: pointer;
  }
}
