.blog-slider {
  --paddingInline: 1.25rem;
  .slider-navigation {
    display: none;
  }
  .blog-latest-slider {
    padding-left: var(--paddingInline);
    padding-right: var(--paddingInline);
    .swiper-slide {
      height: auto;
    }
  }
  .blog-sidebar-slider {
    padding-right: var(--paddingInline);
    .blog-item__img {
      img {
        aspect-ratio: 13 / 9;
      }
    }
    .swiper-slide {
      height: auto;
    }
    @media (min-width: 1024px) {
      .swiper-wrapper {
        display: block;
      }
    }
  }
  @media (min-width: 768px) {
    --paddingInline: 2.5rem;
    .slider-navigation {
      display: flex;
    }
  }
  @media (min-width: 1024px) {
    .slider-navigation {
      display: none;
    }
  }
}

.blog-latest {
  --sectionPaddingTop: 148px;
  --sectionPaddingBottom: 97px;
  padding-top: var(--sectionPaddingTop);
  padding-bottom: var(--sectionPaddingBottom);
  .blog-latest__item {
    position: relative;
    .section-title {
      font-size: clamp(1.75rem, 5vw, 4.5rem);
      margin-bottom: 26px;
      line-height: 120%;
    }
    .section-subtitle {
      font-size: clamp(1.25rem, 2.5vw, 2.625rem);
      line-height: 120%;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .section-text {
      margin-bottom: 20px;
    }
  }
  .blog-latest__img {
    border-radius: 100%;
    outline: 3px solid $blue;
    box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
    position: relative;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    margin: 35px auto 0;
    img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      border-radius: 100%;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 10px solid rgba(114, 221, 246, 0.8);
      border-radius: 100%;
      filter: blur(29px);
      z-index: 2;
    }
  }
  .blog-latest__img-item {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: calc(100% + 25px);
      height: calc(100% + 25px);
      opacity: 0.8;
      border: 1px solid #abefff;
      border-radius: 100%;
      z-index: 1;
    }
  }
  .blog-latest__label {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 12px 33px;
    z-index: 3;
  }
  @media (min-width: 768px) {
    --sectionPaddingBottom: 138px;
    .blog-latest__item {
      .section-title {
        margin-bottom: 40px;
      }
      .section-subtitle {
        margin-bottom: 10px;
      }
      .section-text {
        margin-bottom: 22px;
        line-height: 24px;
      }
    }
    .blog-latest__img {
      margin: 0;
      margin-left: auto;
    }
    .blog-latest__label {
      top: auto;
      right: auto;
      bottom: 17px;
      left: -10px;
      padding: 15px 39px;
    }
  }
  @media (min-width: 1024px) {
    --sectionPaddingBottom: 150px;
    .blog-latest__item {
      .section-title {
        margin-bottom: 50px;
      }
      .section-subtitle {
        margin-bottom: 20px;
      }
      .section-text {
        line-height: 30px;
        margin-bottom: 35px;
      }
    }
    .blog-latest__label {
      padding: 17px 47px;
    }
  }
  @media (min-width: 1366px) {
    --sectionPaddingBottom: 173px;
    .blog-latest__item {
      .section-subtitle {
        margin-bottom: 25px;
      }
      .section-text {
        line-height: 36px;
      }
    }
    .blog-latest__label {
      padding: 17px 54px;
    }
  }
  @media (min-width: 1700px) {
    --sectionPaddingBottom: 215px;
    .blog-latest__item {
      .section-title {
        margin-bottom: 60px;
      }
      .section-subtitle {
        margin-bottom: 20px;
      }
      .section-text {
        font-size: 28px;
        line-height: 42px;
      }
    }
    .blog-latest__label {
      padding: 21px 68px;
    }
  }
}

.labels {
  --labelGap: 10px;
}

.blog-label {
  --labelPaddingBlock: 8px;
  --labelPaddingInline: 15px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 86px rgba(44, 91, 169, 0.33);
  backdrop-filter: blur(49px);
  border-radius: 60px;
  font-size: clamp(0.825rem, 2vw, 1.75rem);
  line-height: 140%;
  text-transform: uppercase;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.875rem, 0.5vw, 1.125rem);
  @media (min-width: 768px) {
    --labelPaddingBlock: 10px;
    --labelPaddingInline: 18px;
  }
}

/* Blog slider */

.blog-item {
  --blogItemGap: 0.625rem;
  // display: grid;
  display: flex;
  flex-direction: column;
  gap: var(--blogItemGap);
  text-decoration: none;
  color: $white;
  position: relative;
  height: 100%;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   left: -50%;
  //   transform: translate(-50%, -50%);
  //   width: 100%;
  //   height: 100%;
  //   box-shadow: 0px 0px 100px 4px rgba(0, 154, 241, 0.4);
  // }
  @include hover {
    color: $white;
    .blog-item__title {
      color: $blue;
    }
    .blog-item__img {
      img {
        transform: scale(1.1);
      }
    }
  }
  .blog-item__header {
    position: relative;
  }
  .blog-label,
  .blog-activity {
    position: absolute;
  }
  .blog-label {
    top: 20px;
    left: 16px;
    z-index: 2;
    padding: var(--labelPaddingBlock) var(--labelPaddingInline);
  }
  .blog-activity {
    right: 24px;
    bottom: 15px;
  }
  .blog-item__img {
    --blogItemImgRadius: 30px;
    border-radius: var(--blogItemImgRadius);
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--blogItemImgRadius);
      background: linear-gradient(
        0deg,
        rgba(14, 14, 57, 0.4),
        rgba(14, 14, 57, 0.4)
      );
    }
    img {
      width: 100%;
      aspect-ratio: 4 / 3;
      border-radius: 30px;
      object-fit: cover;
      transition: 0.35s ease;
      @media (min-width: 1024px) {
        aspect-ratio: 14 / 9;
      }
    }
  }
  .blog-item__body {
    --blogItemGap: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: var(--blogItemGap);
  }
  .blog-item__title {
    font-size: clamp(1.125rem, 2.2vw, 2.25rem);
    line-height: 140%;
    font-weight: 600;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    transition: 0.25s;
  }
  .blog-item__descr {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    font-size: clamp(0.875rem, 1.5vw, 1.875rem);
    line-height: 140%;
    flex-grow: 1;
  }
  .blog-item__footer {
    position: relative;
    padding: 12px 0;
    margin-top: auto;
    span {
      font-size: clamp(1rem, 2vw, 1.25rem);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='306' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' filter='url(%23a)'%3E%3Cpath d='M293 13H13' stroke='url(%23b)' stroke-linecap='round' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='293' y1='13.5' x2='13' y2='13.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2342D1F7' stop-opacity='0'/%3E%3Cstop offset='.482' stop-color='%2342D1F7'/%3E%3Cstop offset='1' stop-color='%2342D1F7'/%3E%3C/linearGradient%3E%3Cfilter id='a' x='.5' y='.5' width='305' height='25' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='6' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_804_19118'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0.603922 0 0 0 0 0.945098 0 0 0 0.78 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_804_19118'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_804_19118' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  @media (min-width: 768px) {
    .blog-item__body {
      --blogItemGap: 0.9375rem;
    }
    .blog-label {
      top: auto;
      left: 20px;
      bottom: 20px;
    }
    .blog-activity {
      right: 20px;
      bottom: 30px;
    }
  }
  @media (min-width: 1366px) {
    .blog-item__body {
      --blogItemGap: 1.375rem;
    }
  }
}

.blog-activity {
  margin-top: auto;
  margin-left: auto;
  i {
    color: $blue-saturated;
  }
  span {
    opacity: 0.8;
  }
  .blog-activity__item {
    display: flex;
    column-gap: 12px;
    padding-right: 17px;
    padding-left: 15px;
    position: relative;
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 120%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background-color: $blue;
      opacity: 0.8;
    }
    &:last-of-type {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
    &:first-of-type {
      padding-left: 0;
    }
  }
}

.blog-item__date {
  padding: 12px 0;
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-weight: 300;
  font-size: clamp(1.25rem, 2vw, 1rem);
  line-height: 24px;
  i {
    color: $blue-saturated;
  }
}
