.shop__btn {
  text-decoration: none;
  border: none;
  border-radius: 32px;
  background: rgba(171, 239, 255, 0.2);
  box-shadow: 0px 0px 24px rgba(171, 239, 255, 0.27);
  display: flex;
  align-items: center;
  padding-left: 32px;
  column-gap: 30px;
  pointer-events: none;
  user-select: none;
  span {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  > span {
    font-size: 18px;
    line-height: 25px;
    color: $white;
    opacity: 0.4;
    + span {
      font-size: 14px;
      line-height: 20px;
      color: $blue;
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 15px;
      padding-bottom: 14px;
      position: relative;
      text-shadow: 0px 0px 5px rgba(171, 239, 255, 0.63);
      opacity: 1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(171, 239, 255, 0.2);
        box-shadow: 0px 0px 24px rgba(171, 239, 255, 0.27);
        border-radius: 32px;
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (max-width: 1650px) {
    > span {
      font-size: 16px;
      line-height: 1;
    }
  }
  @media (max-width: 1365px) {
    padding-left: 20px;
    column-gap: 25px;
    > span {
      font-size: 12px;
      line-height: 17px;
      padding-top: 11px;
      padding-bottom: 11px;
      + span {
        font-size: 10px;
        line-height: 14px;
        padding: 13px;
      }
    }
  }
}

.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none !important;
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.btn-glow__wrapper {
  border-radius: 45px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid $blue;
    border-top: 1px solid $blue;
    width: calc(100% - 65px);
    height: 25px;
    border-top-left-radius: 45px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 1px solid $blue;
    border-bottom: 1px solid $blue;
    width: calc(100% - 25px);
    height: 25px;
    border-bottom-left-radius: 45px;
  }
  .btn-glow {
    color: $white;
    border-radius: 45px;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 3;
    @include hover {
      color: $white;
    }
    .btn-glow__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      pointer-events: none;
      &::after {
        content: "";
        position: absolute;
        left: -1px;
        top: -1px;
        border-left: 3px solid $blue;
        border-top: 3px solid $blue;
        width: calc(100% - 58px);
        height: 25px;
        border-top-left-radius: 45px;
        filter: blur(5px);
      }
      &::before {
        content: "";
        position: absolute;
        left: -1px;
        bottom: -1px;
        border-left: 3px solid $blue;
        border-bottom: 3px solid $blue;
        width: calc(100% - 45px);
        height: 25px;
        border-bottom-left-radius: 45px;
        filter: blur(5px);
      }
    }
    .btn-glow__text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 1;
      height: 100%;
      width: 100%;
      border-radius: 45px;
      position: relative;
      pointer-events: none;
      padding-left: 36px;
      padding-right: 36px;
      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: -1px;
        border-right: 3px solid $blue;
        border-top: 3px solid $blue;
        width: 50px;
        height: 25px;
        border-top-right-radius: 45px;
        filter: blur(5px);
      }
      &::before {
        content: "";
        position: absolute;
        right: -1px;
        bottom: -1px;
        border-right: 3px solid $blue;
        border-bottom: 3px solid $blue;
        width: 50px;
        height: 25px;
        border-bottom-right-radius: 45px;
        filter: blur(5px);
      }
      @media (max-width: 1650px) {
        // padding-left: 20px;
        // padding-right: 20px;
        font-size: 16px;
        line-height: 22px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-right: 1px solid $blue;
      border-top: 1px solid $blue;
      width: 45px;
      height: 25px;
      border-top-right-radius: 45px;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-right: 1px solid $blue;
      border-bottom: 1px solid $blue;
      width: 50px;
      height: 25px;
      border-bottom-right-radius: 45px;
    }
    @media (max-width: 1650px) {
      height: 44px;
    }
  }
  @media (max-width: 1650px) {
    &::after {
      height: 22px;
    }
    &::before {
      height: 22px;
    }
    .btn-glow {
      &::after,
      &::before {
        height: 22px;
      }
    }
  }
}

/* Burger button */

.header-menu__toggle {
  display: block;
  z-index: 5;
  position: relative;
  width: 25px;
  height: 16px;
  border: none;
  background: transparent;
  z-index: 12;
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &::before,
  &::after,
  span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $blue;
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: all 0.25s;
  }
  &::before,
  &::after {
    content: "";
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  &.active {
    height: 20px;
    span {
      opacity: 0;
      transform: scale(0);
    }
    &::before {
      transform: rotate(-45deg);
      top: 10px;
    }
    &::after {
      transform: rotate(45deg);
      bottom: 8px;
    }
  }
}

.btn-light {
  background: linear-gradient(84.94deg, #ffffff -8.24%, #e7a5ff 191.34%);
  box-shadow: 0px 4px 27px rgba(255, 255, 255, 0.41);
  border-radius: 54px;
  text-align: center;
  padding: 12px 38px 11px;
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  line-height: 22px;
  color: $gray-dark;
  font-weight: 600;
  transition: 0.35s ease;
  @include hover {
    box-shadow: 0px 4px 55px rgba(255, 255, 255, 0.41);
  }
  @media (min-width: 768px) {
    padding: 12px 54px 11px;
  }
  @media (min-width: 1024px) {
    padding: 15px 62px 14px;
  }
  @media (min-width: 1700px) {
    padding: 17px 54px 16px;
  }
}

.btn-blue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 14px 16px 20px;
  background-color: $white;
  border-radius: 54px;
  box-shadow: 0px 4px 27px rgba(255, 255, 255, 0.41);
  position: relative;
  i {
    margin-right: 25px;
    color: $blue;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 89px;
    height: 100%;
    background: linear-gradient(
      270deg,
      #40d1f2 27.87%,
      rgba(129, 226, 248, 0) 100%
    );
    filter: blur(23px);
    border-radius: 54px;
  }
  .btn-blue__price {
    color: $white;
    font-size: 18px;
    line-height: 1;
    position: relative;
    z-index: 1;
    display: block;
    margin-left: 21px;
  }
  span {
    &:not(.btn-blue__price) {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #000022;
    }
  }
}

.btn-white-glow {
  background-color: $white;
  border-radius: 54px;
  box-shadow: 0px 4px 27px rgba(255, 255, 255, 0.41);
  font-weight: 600;
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  line-height: 17px;
  padding: 11px 30px 12px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 54px;
    border: 4px solid $blue;
    box-sizing: border-box;
    filter: blur(7px);
    border-radius: 54px;
  }
  @include hover {
    box-shadow: 0px 4px 55px rgba(255, 255, 255, 0.41);
  }
  @media (min-width: 768px) {
    padding: 11px 48px 12px;
  }
  @media (min-width: 1024px) {
    padding: 14px 51px 15px;
  }
  @media (min-width: 1700px) {
    padding: 19px 45px;
  }
}

.arrow-button {
  position: relative;
  height: 8px;
  // transition: 0.35s;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: $blue;
    box-shadow: 0px 0px 5px rgba(171, 239, 255, 0.63);
  }
  &::after {
    width: 60px;
    height: 1.8px;
    transition: 0.5s;
  }
  &::before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000124;
    border: 2px solid $blue;
    transition: 0.5s;
  }
  &.arrow-button__next {
    padding-right: 88px;
    &::after {
      right: 8px;
    }
    &::before {
      right: 0;
    }
  }
  &.arrow-button__prev {
    padding-left: 88px;
    &::after {
      left: 8px;
    }
    &::before {
      left: 0;
    }
  }
  @include hover {
    // width: 74px;
    &::after {
      width: 66px;
      transform: translateX(8px) translateY(-50%);
    }
    &::before {
      transform: translateX(8px) translateY(-50%);
    }
    &.arrow-button__prev {
      &::after {
        width: 66px;
        transform: translateX(-8px) translateY(-50%);
      }
      &::before {
        transform: translateX(-8px) translateY(-50%);
      }
    }
  }
}

@media (min-width: 1025px) {
  .header-menu__toggle {
    display: none;
  }
}
