.shop__btn {
  text-decoration: none;
  border: none;
  border-radius: 32px;
  background: rgba(171, 239, 255, 0.2);
  box-shadow: 0px 0px 24px rgba(171, 239, 255, 0.27);
  display: flex;
  align-items: center;
  padding-left: 32px;
  column-gap: 30px;
  pointer-events: none;
  user-select: none;
  span {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  > span {
    font-size: 18px;
    line-height: 25px;
    color: $white;
    opacity: 0.4;
    + span {
      font-size: 14px;
      line-height: 20px;
      color: $blue;
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 15px;
      padding-bottom: 14px;
      position: relative;
      text-shadow: 0px 0px 5px rgba(171, 239, 255, 0.63);
      opacity: 1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(171, 239, 255, 0.2);
        box-shadow: 0px 0px 24px rgba(171, 239, 255, 0.27);
        border-radius: 32px;
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (max-width: 1650px) {
    > span {
      font-size: 16px;
      line-height: 1;
    }
  }
  @media (max-width: 1365px) {
    padding-left: 20px;
    column-gap: 25px;
    > span {
      font-size: 12px;
      line-height: 17px;
      padding-top: 11px;
      padding-bottom: 11px;
      + span {
        font-size: 10px;
        line-height: 14px;
        padding: 13px;
      }
    }
  }
}

.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none !important;
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.btn-glow__wrapper {
  border-radius: 45px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid $blue;
    border-top: 1px solid $blue;
    width: calc(100% - 65px);
    height: 25px;
    border-top-left-radius: 45px;
    z-index: 1;
    transition: 0.35s ease;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 1px solid $blue;
    border-bottom: 1px solid $blue;
    width: calc(100% - 25px);
    height: 25px;
    border-bottom-left-radius: 45px;
    z-index: 1;
    transition: 0.35s ease;
  }
  .btn-glow {
    color: $white;
    border-radius: 45px;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 3;
    @include hover {
      color: $white;
    }
    .btn-glow__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      pointer-events: none;
      &::after {
        content: "";
        position: absolute;
        left: -1px;
        top: -1px;
        border-left: 3px solid $blue;
        border-top: 3px solid $blue;
        width: calc(100% - 58px);
        height: 25px;
        border-top-left-radius: 45px;
        filter: blur(5px);
        transition: 0.35s ease;
        z-index: 9;
      }
      &::before {
        content: "";
        position: absolute;
        left: -1px;
        bottom: -1px;
        border-left: 3px solid $blue;
        border-bottom: 3px solid $blue;
        width: calc(100% - 45px);
        height: 25px;
        border-bottom-left-radius: 45px;
        filter: blur(5px);
        transition: 0.35s ease;
      }
    }
    .btn-glow__text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 1;
      height: 100%;
      width: 100%;
      border-radius: 45px;
      position: relative;
      pointer-events: none;
      padding-left: 36px;
      padding-right: 36px;
      transition: 0.35s ease;
      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: -1px;
        border-right: 3px solid $blue;
        border-top: 3px solid $blue;
        width: 50px;
        height: 25px;
        border-top-right-radius: 45px;
        filter: blur(5px);
        transition: 0.35s ease;
      }
      &::before {
        content: "";
        position: absolute;
        right: -1px;
        bottom: -1px;
        border-right: 3px solid $blue;
        border-bottom: 3px solid $blue;
        width: 50px;
        height: 25px;
        border-bottom-right-radius: 45px;
        filter: blur(5px);
        transition: 0.35s ease;
      }
      @media (max-width: 1650px) {
        // padding-left: 20px;
        // padding-right: 20px;
        font-size: 16px;
        line-height: 22px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-right: 1px solid $blue;
      border-top: 1px solid $blue;
      width: 45px;
      height: 25px;
      border-top-right-radius: 45px;
      transition: 0.35s ease;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-right: 1px solid $blue;
      border-bottom: 1px solid $blue;
      width: 50px;
      height: 25px;
      border-bottom-right-radius: 45px;
      transition: 0.35s ease;
    }
    @media (max-width: 1650px) {
      height: 44px;
    }
  }
  @media (max-width: 1650px) {
    &::after {
      height: 22px;
    }
    &::before {
      height: 22px;
    }
    .btn-glow {
      &::after,
      &::before {
        height: 22px;
      }
    }
  }
  @include hover {
    .btn-glow::after,
    .btn-glow::before,
    &::after,
    &::before {
      border-color: #009af1;
    }
    .btn-glow__text {
      color: $blue;
    }
  }
  &:active {
    .btn-glow::after,
    .btn-glow::before,
    .btn-glow__inner::before,
    .btn-glow__inner::after,
    .btn-glow__text::before,
    .btn-glow__text::after,
    &::after,
    &::before {
      border-color: #009af1;
    }
    .btn-glow__text {
      color: $blue;
    }
  }
}

/* Burger button */

.header-menu__toggle {
  display: block;
  z-index: 5;
  position: relative;
  width: 25px;
  height: 16px;
  border: none;
  background: transparent;
  z-index: 12;
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &::before,
  &::after,
  span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $blue;
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: all 0.25s;
  }
  &::before,
  &::after {
    content: "";
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  &.active {
    height: 20px;
    span {
      opacity: 0;
      transform: scale(0);
    }
    &::before {
      transform: rotate(-45deg);
      top: 10px;
    }
    &::after {
      transform: rotate(45deg);
      bottom: 8px;
    }
  }
}

.btn-light {
  background: linear-gradient(84.94deg, #ffffff -8.24%, #e7a5ff 191.34%);
  box-shadow: 0px 4px 27px rgba(255, 255, 255, 0.41);
  border-radius: 54px;
  text-align: center;
  padding: 12px 38px 11px;
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  line-height: 140%;
  color: $gray-dark;
  font-weight: 600;
  transition: 0.35s ease;
  > * {
    transition: 0.35s ease;
  }
  @include hover {
    color: $dark-blue;
  }
  &:active {
    background: linear-gradient(84.94deg, #ffffff -8.24%, #abefff 191.34%);
    box-shadow: 0px 4px 27px rgba(255, 255, 255, 0.41);
  }
  @media (min-width: 768px) {
    padding: 12px 54px 11px;
  }
  @media (min-width: 1024px) {
    padding: 15px 62px 14px;
  }
  @media (min-width: 1700px) {
    padding: 17px 54px 16px;
  }
}

.btn-blue {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 12px 12px 14px;
  background-color: $white;
  border-radius: 54px;
  box-shadow: 0px 4px 27px rgba(255, 255, 255, 0.41);
  position: relative;
  height: 40px;
  i {
    margin-right: 8px;
    color: $blue;
    font-size: 12px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 89px;
    height: 100%;
    background: linear-gradient(
      270deg,
      #40d1f2 65.87%,
      rgba(129, 226, 248, 0) 100%
    );
    filter: blur(23px);
    border-radius: 54px;
  }
  .btn-blue__price {
    color: $white;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    z-index: 1;
    display: block;
    margin-left: 15px;
  }
  span {
    transition: 0.35s;
    &:not(.btn-blue__price) {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000022;
    }
  }
  &:active {
    span {
      &.btn-blue__price {
        color: $dark-blue;
      }
    }
  }
  @include hover {
    span {
      &:not(.btn-blue__price) {
        color: $dark-blue;
      }
    }
  }
  @media (min-width: 768px) {
    i {
      font-size: 12px;
    }
  }
  @media (min-width: 1024px) {
    height: 48px;
    .btn-blue__price {
      font-size: 16px;
      line-height: 19px;
    }
    span {
      &:not(.btn-blue__price) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  @media (min-width: 1700px) {
    height: 55px;
    padding-right: 20px;
    i {
      font-size: 16px;
    }
    .btn-blue__price {
      font-size: 18px;
      line-height: 22px;
    }
    span {
      &:not(.btn-blue__price) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.btn-white-glow {
  background-color: $white;
  border-radius: 54px;
  box-shadow: 0px 4px 27px rgba(255, 255, 255, 0.41);
  font-weight: 600;
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  line-height: 17px;
  padding: 11px 30px 12px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 54px;
    border: 4px solid $blue;
    box-sizing: border-box;
    filter: blur(7px);
    border-radius: 54px;
  }
  @include hover {
    box-shadow: 0px 4px 55px rgba(255, 255, 255, 0.41);
  }
  @media (min-width: 768px) {
    padding: 11px 48px 12px;
  }
  @media (min-width: 1024px) {
    padding: 14px 51px 15px;
  }
  @media (min-width: 1700px) {
    padding: 19px 45px;
  }
}

.arrow-button {
  position: relative;
  // transition: 0.35s;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  z-index: 3;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: $blue;
    box-shadow: 0px 0px 5px rgba(171, 239, 255, 0.63);
  }
  &::after {
    width: 60px;
    height: 1.8px;
    transition: 0.25s;
  }
  &::before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000124;
    border: 2px solid $blue;
    transition: 0.25s;
  }
  &.arrow-button__next {
    padding-right: 88px;
    &::after {
      right: 8px;
    }
    &::before {
      right: 0;
    }
  }
  &.arrow-button__prev {
    padding-left: 88px;
    &::after {
      left: 8px;
    }
    &::before {
      left: 0;
    }
  }
  span {
    transition: 0.25s;
  }
}

.back-btn {
  --backBtnGap: 15px;
  color: #72ddf6;
  display: inline-flex;
  align-items: center;
  gap: var(--backBtnGap);
  text-decoration: none;
  font-size: clamp(1.25rem, 1vw, 1.875rem);
  line-height: 140%;
  i {
    font-size: clamp(1.5rem, 1vw, 2rem);
    transition: 0.25s;
  }
  @include hover {
    color: #72ddf6;
    i {
      transform: translateX(-10px);
    }
  }
}

.circle-button {
  width: 45px;
  height: 31px;
  border-radius: 100%;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 31px;
    height: 100%;
    border-radius: 100%;
    border: 2px solid #abefff;
    box-shadow: 0px 0px 50px rgba(171, 239, 255, 0.35);
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(12px);
    width: 40px;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='26' viewBox='0 0 40 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_2301_36016)'%3E%3Cpath d='M32.7792 13.6364C33.1307 13.2849 33.1307 12.7151 32.7792 12.3636L27.0517 6.63604C26.7002 6.28457 26.1303 6.28457 25.7789 6.63604C25.4274 6.98751 25.4274 7.55736 25.7789 7.90883L30.87 13L25.7789 18.0912C25.4274 18.4426 25.4274 19.0125 25.7789 19.364C26.1303 19.7154 26.7002 19.7154 27.0517 19.364L32.7792 13.6364ZM6.99997 12.1C6.50291 12.1 6.09997 12.5029 6.09997 13C6.09997 13.4971 6.50291 13.9 6.99997 13.9V12.1ZM32.1428 12.1L6.99997 12.1V13.9L32.1428 13.9V12.1Z' fill='%23ABEFFF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_2301_36016' x='0.0998535' y='0.372437' width='38.9429' height='25.2551' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_2301_36016'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2301_36016'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2301_36016' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  @media (min-width: 768px) {
    width: 69px;
    height: 48px;
    &::after {
      width: 50px;
      height: 50px;
    }
    &::before {
      width: 50px;
      background-size: 100%;
      transform: translateY(-50%) translateX(25px);
    }
  }
}

.tiktok-subscribe {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  color: $blue;
  text-shadow: 0px 0px 6px rgba(0, 154, 241, 0.78);
  text-decoration: none;
  font-weight: 400;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 1.0256)), 30px);
  line-height: 140%;
  text-transform: uppercase;
  position: relative;
  transition: 0.35s;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #72ddf6;
    filter: blur(60px);
    pointer-events: none;
  }
  @include hover {
    color: #009af1;
  }
  @media (min-width: 768px) {
    column-gap: 8px;
  }
  @media (min-width: 1024px) {
    column-gap: 12px;
  }
}

.close-btn {
  --closeBtnSize: 30px;
  margin: 0;
  width: var(--closeBtnSize);
  height: var(--closeBtnSize);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 0.2px solid rgba(171, 239, 255, 0.35);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: rgba(171, 239, 255, 0.1);
    backdrop-filter: blur(20px);
  }
}

.btn-transparent {
  border-radius: 54px;
  color: $blue;
  border: 1px solid $blue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.2564)), 18px);
  line-height: 1;
  padding: 11px 20px 12px;
  transition: 0.35s;
  @include hover {
    color: $dark-blue;
    background-color: $blue;
  }
}

.play-btn {
  text-decoration: none;
  color: $white;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  gap: 15px;
  border-radius: 100%;
  border: none;
  @include hover {
    color: $white;
    .play-btn__icon {
      background-color: darken($blue, 10%);
    }
  }
  .play-btn__icon {
    width: 56px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $blue;
    transition: 0.25s;
    svg {
      width: 22px;
      height: 22px;
      path {
        filter: drop-shadow(0px 0px 12px rgba(0, 154, 241, 0.78));
      }
    }
  }
  &.play-btn-transparent {
    background: none;
    .play-btn__icon {
      background: rgba(171, 239, 255, 0.5);
    }
    @include hover {
      .play-btn__icon {
        background: rgba(171, 239, 255, 0.8);
      }
    }
  }
  @media (min-width: 768px) {
    font-size: 20px;
    .play-btn__icon {
      width: 72px;
      height: 72px;
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
  @media (min-width: 1024px) {
    font-size: 24px;
    .play-btn__icon {
      width: 82px;
      height: 82px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
  @media (min-width: 1366px) {
    font-size: 28px;
    .play-btn__icon {
      width: 102px;
      height: 102px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  @media (min-width: 1700px) {
    font-size: 32px;
    .play-btn__icon {
      width: 122px;
      height: 122px;
      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
}

@media (min-width: 1025px) {
  .header-menu__toggle {
    display: none;
  }
}
