[class*="decor-circle"] {
  border-radius: 100%;
  background-color: $white;
  position: absolute;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.decor-circle__one {
  width: 7px;
  height: 7px;
  box-shadow: 0px 0px 5px 3px #ff69f9;
  opacity: 0.2;
}

.decor-circle__two {
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 5px 3px #6c69ff;
}

.decor-circle {
  position: absolute;
  z-index: -1;
}

.decor-circle__three {
  width: 5px;
  height: 5px;
  opacity: 0.8;
  box-shadow: 0px 0px 5px 3px #69d5ff;
}

.absolute {
  .parallax-decor {
    z-index: -1;
    position: static;
  }
  &.hero-absolute {
    top: 172px;
    height: calc(100% - 172px);
    .hero-decor__left {
      .parallax-decor {
        &:nth-child(1) {
          margin-left: 50px;
          width: 80px;
          height: 80px;
        }
        &:nth-child(2) {
          margin-top: -100px;
          margin-left: 70px;
        }
        &:nth-child(3) {
          margin-top: 50px;
          margin-left: 140px;
        }
        &:nth-child(4) {
          margin-left: auto;
          margin-right: 350px;
          margin-top: -40px;
        }
        &:nth-child(5) {
          width: 60px;
          height: 60px;
          margin-left: auto;
          margin-top: -50px;
        }
        &:nth-child(6) {
          margin-left: auto;
          margin-right: 80px;
        }
        &:nth-child(7) {
          margin-top: auto;
          width: 450px;
          height: 450px;
          margin-right: auto;
          margin-left: 0;
          margin-bottom: -150px;
        }
        &:nth-child(8) {
          width: 65px;
          height: 65px;
          margin-left: auto;
          margin-right: -150px;
          position: absolute;
          bottom: 80px;
          left: 45%;
        }
        &:nth-child(9) {
          position: absolute;
          top: 85%;
          left: 35%;
        }
      }
    }
    .hero-decor__right {
      .parallax-decor {
        &:nth-child(1) {
          margin-left: 130px;
        }
        &:nth-child(2) {
          margin-left: 170px;
          margin-bottom: 100px;
        }
        &:nth-child(3) {
          width: 75px;
          height: 75px;
          position: absolute;
          top: -20px;
          right: 20%;
        }
        &:nth-child(4) {
          position: absolute;
          top: 120px;
          right: 25%;
        }
        &:nth-child(5) {
          width: 45px;
          height: 52px;
          position: absolute;
          right: 40px;
          top: 100px;
        }
        &:nth-child(6) {
          width: 600px;
          height: 600px;
          position: absolute;
          bottom: -250px;
          z-index: -1;
        }
        &:nth-child(7) {
          width: 75px;
          height: 75px;
          position: absolute;
          right: 15px;
          bottom: -50px;
        }
      }
    }
  }
  &.events-absolute {
    top: 0;
    img {
      &:nth-child(1) {
        width: 400px;
        height: 400px;
        margin-left: 50px;
      }
      &:nth-child(2) {
        width: 80px;
        height: 115px;
        margin-top: auto;
        margin-left: auto;
        margin-right: 280px;
      }
    }
  }
  &.popular-absolute {
    top: 0;
    .popular-decor__left {
      .parallax-decor {
        &:nth-child(1) {
          width: 52px;
          height: 52px;
          margin-top: 100px;
          margin-left: -30px;
          align-items: center;
        }
        &:nth-child(2) {
          width: 337px;
          height: 337px;
          position: absolute;
          top: -200px;
          left: 20%;
        }
        &:nth-child(3) {
          width: 83px;
          height: 83px;
          position: absolute;
          top: 105%;
        }
      }
    }
    .popular-decor__right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .parallax-decor {
        &:nth-child(1) {
          width: 87px;
          height: 85px;
          margin-bottom: 50px;
          margin-left: -120px;
        }
        &:nth-child(2) {
          width: 65px;
          height: 100px;
          margin-left: auto;
        }
      }
    }
  }
}

.about-triangles {
  top: 100%;
  z-index: -1;
  width: 100%;
  opacity: 0.6;
}

.tiktok-triangles {
  margin-top: -200px;
  top: 100%;
  z-index: -1;
  opacity: 0.5;
}
