.events-single__wrapper {
  margin-top: calc(#{var(--headerHeight)} * -1);
  padding-top: var(--headerHeight);
  &::after {
    content: "";
    width: 100vw;
    height: 120vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/events/events-triangles.avif");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    z-index: -1;
  }
}
.events-single {
  // .triangles {
  //   top: calc(#{var(--headerHeight)} * -1);
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   object-fit: cover;
  // }
}

.events-single__row {
  padding: 32px 0 20px;
  @media (min-width: 1024px) {
    padding-top: 111px;
  }
  @media (min-width: 1366px) {
    // padding-top: 180px;
  }
  @media (min-width: 1700px) {
    // padding-top: 205px;
  }
}

// .events-single__media {
//   display: flex;
//   justify-content: center;
//   // &::after {
//   //   content: "";
//   //   position: absolute;
//   //   top: 0;
//   //   left: 17%;
//   //   width: 8%;
//   //   aspect-ratio: 1;
//   //   border-radius: 100%;
//   //   background: rgba(77, 122, 222, 0.2);
//   //   box-shadow: 0px 0px 64px rgba(0, 154, 241, 0.3);
//   //   backdrop-filter: blur(20px);
//   //   background-image: url("../img/icons/events/fire.svg");
//   //   background-repeat: no-repeat;
//   //   background-size: 50%;
//   //   background-position: center center;
//   // }
// }

// .events-single__thumb {
//   padding: 50px;
//   position: relative;
//   border-radius: 100%;
//   display: inline-block;
//   &::after,
//   &::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     border-radius: inherit;
//     border: 2px solid $blue;
//     opacity: 0.2;
//   }
//   &::before {
//     width: 270px;
//     height: 270px;
//   }
//   &::after {
//     width: 100%;
//     height: 100%;
//   }
//   .events-single__img {
//     border-radius: 100%;
//     position: relative;
//     width: 220px;
//     height: 220px;
//     background-size: cover;
//     &::after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       border-radius: inherit;
//       background: linear-gradient(
//         0deg,
//         rgba(8, 8, 53, 0.3),
//         rgba(8, 8, 53, 0.3)
//       );
//       box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
//     }
//     &::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       border-radius: inherit;
//       border: 2px solid $blue;
//       opacity: 0.3;
//     }
//   }
//   @media (min-width: 1024px) {
//     &::before {
//       width: 466px;
//       height: 466px;
//     }
//     &::after {
//       width: 540px;
//       height: 540px;
//     }
//     .events-single__img {
//       width: 380px;
//       height: 380px;
//     }
//   }
//   @media (min-width: 1366px) {
//     &::before {
//       width: 606px;
//       height: 606px;
//     }
//     &::after {
//       width: 726px;
//       height: 726px;
//     }
//     .events-single__img {
//       width: 495px;
//       height: 495px;
//     }
//   }
//   @media (min-width: 1700px) {
//     &::before {
//       width: 760px;
//       height: 760px;
//     }
//     &::after {
//       width: 915px;
//       height: 915px;
//     }
//     .events-single__img {
//       width: 615px;
//       height: 615px;
//     }
//   }
// }
.events-single__description {
  max-width: 644px;
  width: 100%;
  padding-top: 20px;
  .section-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  .section-subtitle {
    text-transform: capitalize;
    font-size: clamp(18px, calc(1.125rem + ((1vw - 3.6px) * 1.7143)), 42px);
    line-height: 120%;
    font-weight: 400;
    margin-bottom: 14px;
  }
  .section-text {
    margin-bottom: 25px;
  }
  .btn {
    display: inline-flex;
  }
  .events-card__date {
    --eventsDatePaddinBlock: 13px;
    padding-inline: 15px;
    padding-block: var(--eventsDatePaddinBlock);
    width: max-content;
    display: inline-flex;
    justify-content: center;
    background: rgba(77, 122, 222, 0.2);
    box-shadow: 0px 0px 64px rgba(0, 154, 241, 0.3);
    backdrop-filter: blur(23px);
    span {
      font-size: 14px;
    }
  }
  @media (min-width: 768px) {
    padding-left: 20px;
    padding-top: 0;
    .section-title {
      font-size: 42px;
      line-height: 50px;
    }
    .section-text {
      margin-bottom: 30px;
    }
  }
  @media (min-width: 1024px) {
    padding-left: 0;
    .section-title {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 25px;
    }
    .section-subtitle {
      margin-bottom: 20px;
    }
    .events-card__date {
      width: 50%;
    }
  }
  @media (min-width: 1366px) {
    max-width: 100%;
    .events-card__date {
      width: max-content;
      padding-inline: 30px;
    }
  }
  @media (min-width: 1700px) {
    .section-title {
      font-size: 62px;
      line-height: 74px;
      margin-bottom: 45px;
    }
    .section-text {
      margin-bottom: 60px;
    }
    .events-card__date {
      padding-inline: 42px;
      width: max-content;
    }
  }
}
.events-single__labels {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 30px;
  @media (min-width: 1024px) {
    margin-bottom: 50px;
  }
  @media (min-width: 1366px) {
    margin-bottom: 70px;
  }
}

.event-visit {
  padding-top: 40px;
  .section-title {
    max-width: 320px;
    margin: 0 auto 50px;
  }
  .event-visit__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .event-visit__card-icon {
    width: 52px;
    height: 52px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 64px 6px rgba(0, 154, 241, 0.3);
    padding: 13px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: rgba(77, 122, 222, 0.2);
      box-shadow: 0px 0px 64px 6px rgba(0, 154, 241, 0.3);
      backdrop-filter: blur(23px);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: relative;
      z-index: 2;
    }
    span {
      position: absolute;
      right: -20px;
      bottom: 5px;
      font-size: 20px;
      line-height: 1;
      font-weight: 600;
    }
  }
  .event-visit__card-text {
    font-size: 14px;
    line-height: 140%;
    max-width: 320px;
  }
  @media (min-width: 768px) {
    .section-title {
      max-width: 90%;
      margin-bottom: 70px;
    }
  }
  @media (min-width: 1024px) {
    .section-title {
      max-width: 80%;
    }
    .event-visit__card-icon {
      width: 72px;
      height: 72px;
      padding: 18px;
      span {
        right: -10px;
      }
    }
    .event-visit__card-text {
      font-size: 18px;
      max-width: 90%;
    }
  }
  @media (min-width: 1366px) {
    .section-title {
      max-width: 70%;
      margin-bottom: 80px;
    }
    .event-visit__card-icon {
      width: 90px;
      height: 90px;
      padding: 24px;
      margin-bottom: 40px;
      span {
        right: -15px;
        font-size: 30px;
      }
    }
    .event-visit__card-text {
      font-size: 22px;
    }
  }
  @media (min-width: 1366px) {
    .section-title {
      max-width: 986px;
      margin-bottom: 100px;
    }
    .event-visit__card-icon {
      width: 120px;
      height: 120px;
      padding: 32px;
      span {
        font-size: 36px;
      }
    }
    .event-visit__card-text {
      font-size: 28px;
    }
  }
}

.events-hero {
  --sectionPaddingTop: var(--headerHeight);
  padding-top: var(--sectionPaddingTop);
  padding-bottom: 0;
  margin-bottom: 100px;
  margin-top: calc(#{var(--headerHeight)} * -1);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/events/events-hero.jpg");
  height: 100vh;
  > * {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        241.28deg,
        rgba(14, 14, 57, 0.75) 31.43%,
        rgba(22, 22, 66, 0.25) 70.06%,
        #1e1e4a 106.29%
      ),
      linear-gradient(0deg, rgba(21, 21, 73, 0.2), rgba(21, 21, 73, 0.2));
  }
  .events-hero__caption {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 88px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;
    .section-title {
      max-width: 280px;
      text-align: center;
      margin: 0 auto 10px;
    }
    .section-text {
      font-size: clamp(18px, calc(1.125rem + ((1vw - 3.6px) * 0.7692)), 30px);
      margin-bottom: 40px;
    }
  }
  .events-single__labels {
    display: flex;
    justify-content: center;
    // column-gap: 8px;
    margin-bottom: 40px;
  }
  .events-card__date {
    padding: 0;
    padding-inline: 20px;
    gap: 8px;
    background: rgba(77, 122, 222, 0.35);
    box-shadow: 0px 0px 64px rgba(0, 154, 241, 0.3);
    backdrop-filter: blur(23px);
    border-radius: 50px;
    flex: 0 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    opacity: 0.8;
    span {
      font-size: 14px;
      line-height: 140%;
    }
  }
  .events-hero__btn {
    text-align: center;
  }

  @media (min-width: 480px) {
    .events-hero__caption {
      max-width: 400px;
    }
  }
  @media (min-width: 768px) {
    // --sectionPaddingTop: 88px;
    margin-bottom: 120px;
    .events-single__labels {
      margin-bottom: 35px;
      gap: 12px;
    }
    .events-card__date {
      height: 48px;
      span {
        font-size: 18px;
      }
    }
    .events-hero__caption {
      max-width: 450px;
      padding-bottom: 76px;
      padding-top: 22px;
      .section-title {
        max-width: 100%;
      }
    }
  }
  @media (min-width: 1024px) {
    margin-bottom: 130px;
    .events-single__labels {
      margin-bottom: 35px;
      gap: 10px;
    }
    .events-card__date {
      padding-inline: 32px;
      height: 56px;
    }
    .events-hero__caption {
      padding-top: 40px;
      padding-bottom: 106px;
      max-width: 540px;
      .section-text {
        margin-bottom: 72px;
      }
    }
  }
  @media (min-width: 1366px) {
    // padding-top: 108px;
    margin-bottom: 160px;
    .events-hero__caption {
      padding-top: 60px;
      padding-bottom: 80px;
      max-width: 600px;
      .section-text {
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 1700px) {
    // padding-top: 155px;
    margin-bottom: 200px;
    .events-hero__caption {
      padding-top: 50px;
      padding-bottom: 220px;
      max-width: 700px;
      .section-title {
        margin-bottom: 20px;
      }
      .section-text {
        margin-bottom: 80px;
      }
    }
    .events-single__labels {
      margin-bottom: 40px;
    }
    .events-card__date {
      padding-inline: 40px;
      height: 76px;
      span {
        font-size: 24px;
      }
    }
  }
  .random-circles {
    z-index: 1;
    pointer-events: none;
  }
}

.events-single-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  img {
    &:nth-child(1) {
      width: 300px;
      aspect-ratio: 1;
      bottom: -150px;
    }
    &:nth-child(2) {
      width: 250px;
      aspect-ratio: 1;
      top: 150px;
      right: 10%;
      z-index: -1;
    }
    &:nth-child(3) {
      width: 80px;
      aspect-ratio: 1;
      bottom: -30px;
      right: 10%;
    }
    &:nth-child(4) {
      width: 105px;
      aspect-ratio: 1;
      right: -50px;
      top: 130px;
    }
    @media (max-width: 1024px) {
      &:nth-child(1) {
        width: 220px;
        bottom: -100px;
      }
      &:nth-child(2) {
        width: 150px;
        right: auto;
        left: 0;
        top: 120px;
      }
      &:nth-child(3) {
        right: 0;
      }
      &:nth-child(4) {
        top: auto;
        bottom: 100px;
      }
    }
    @media (max-width: 575px) {
      &:nth-child(1) {
        left: -70px;
      }
    }
  }
}

.events-single__picture {
  aspect-ratio: 1;
  position: relative;
  .events-single__decor {
    aspect-ratio: 1;
    object-fit: contain;
  }
  .event-single__picture-inner {
    position: absolute;
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: block;
    // overflow: hidden;
    box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
    width: 60%;
    > img {
      border-radius: 50%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}
