.events-slider {
  .events-slider__item,
  .events-slider__img {
    border-radius: 50%;
  }
  .events-slider__item {
    position: relative;
    transition: 0.2s ease-in-out !important;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      box-shadow: 0 0 0 5px $blue-secondary;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;
      transition-delay: 0.2s;
      z-index: -1;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      opacity: 0.3;
      border: 1px solid $blue;
      border-radius: 100%;
      transition: 0.2s;
      transition-delay: 0.2s;
      opacity: 0;
      z-index: -1;
    }
  }
  .events-slider__img {
    position: relative;
    padding-bottom: 100%;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: linear-gradient(
        180deg,
        rgba(14, 14, 57, 0.37) 4.94%,
        rgba(15, 15, 60, 0.73) 51.47%,
        #11113f 100%
      );
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      // box-shadow: 0 0 21px -1px rgba(60, 148, 187, 0.7);
      box-shadow: 0px 0px 60px 6px rgba(0, 154, 241, 0.48);
      transition: 0.2s;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .events-slider__info {
    position: absolute;
    // padding-top: 52px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 95%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
    z-index: 2;
    .btn {
      width: 100%;
      max-width: 231px;
    }
  }
  .events-slider__action {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(60px);
    transition: 0.15s 0.2s ease-in-out;
    max-width: 161px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .events-slider__info-caption {
    padding-top: 50px;
  }
  .events-slider__date {
    font-size: clamp(0.875rem, 2vw, 1.5rem);
    line-height: 140%;
    font-weight: 300;
    opacity: 0.85;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    i {
      color: $blue;
      margin-right: 10px;
    }
  }
  .events-slider__artist {
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    max-width: 190px;
  }
  .swiper-slide {
    .events-slider__item {
      transform: scale(1);
    }
  }
  .swiper-slide-active {
    transform: scale(1) translateX(0);
    .events-slider__item {
      z-index: 2;
      &::before {
        opacity: 0.3;
        visibility: visible;
      }
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
    .events-slider__img {
      &::after {
        border: 10px solid rgba(114, 221, 246, 0.8);
        filter: blur(20px);
      }
      &::before {
        // opacity: 0;
        // visibility: hidden;
      }
    }
    .events-slider__action {
      transform: translateY(15px);
      opacity: 1;
      visibility: visible;
    }
  }
  .swiper-slide {
    width: 208px;
    .events-slider__item {
      transform: scale(0.7);
    }
  }
  .swiper-slide-next,
  .swiper-slide-prev {
    .events-slider__item {
      transform: scale(0.8);
    }
  }

  .swiper-slide-next-n1 {
    .events-slider__item {
      transform: scale(0.7) translateX(-22%);
    }
  }
  .swiper-slide-prev-n1 {
    .events-slider__item {
      transform: scale(0.7) translateX(22%);
    }
  }

  .swiper-slide-next-n2 {
    .events-slider__item {
      transform: scale(0.65) translateX(-60%);
    }
  }
  .swiper-slide-prev-n2 {
    .events-slider__item {
      transform: scale(0.65) translateX(60%);
    }
  }
  .swiper-slide.swiper-slide-active {
    .events-slider__item {
      transform: scale(1);
    }
  }

  @media (min-width: 320px) {
    padding: 100px 0 100px;
    margin: -60px 0 -60px;
  }
  @media (min-width: 768px) {
    padding: 53px 0 70px;
    .events-slider__item {
      &::before {
        width: calc(100% + 25px);
        height: calc(100% + 25px);
      }
    }
    .swiper-slide {
      width: 309px;
    }
    .events-slider__info {
      justify-content: center;
      gap: 20px;
    }
    .events-slider__date {
      margin-bottom: 1rem;
    }
    .events-slider__info-caption {
      padding-top: 1rem;
    }
    .events-slider__artist {
      font-size: 32px;
      max-width: 300px;
    }
    .events-slider__action {
      transform: translateY(80px);
    }
    .swiper-slide-active {
      .events-slider__action {
        transform: translateY(35px);
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 64px 0 60px;
    .swiper-slide {
      width: 355px;
    }
    .events-slider__action {
      max-width: 200px;
    }
    .events-slider__artist {
      font-size: 42px;
      max-width: 340px;
    }
  }
  @media (min-width: 1366px) {
    padding: 74px 0 65px;
    .swiper-slide {
      width: 400px;
    }
    .events-slider__artist {
      max-width: 390px;
    }
  }
  @media (min-width: 1700px) {
    padding: 110px 0 70px;
    .swiper-slide {
      width: 400px;
    }
    .events-slider__artist {
      font-size: 60px;
      max-width: 490px;
    }
    .events-slider__action {
      transform: translateY(50px);
      max-width: 231px;
    }
    .swiper-slide-active {
      .events-slider__action {
        transform: translateY(35px);
      }
    }
  }
}

@media (min-width: 768px) {
  .events-slider-container {
    max-width: 100%;
    .swiper-nav {
      padding: 0;
    }
  }
}

@media (min-width: 1366px) {
  .events-slider-container {
    max-width: 1680px;
  }
}

.events-hero {
  --sectionPaddingTop: 70px;
  padding-top: var(--sectionPaddingTop);
  padding-bottom: 0;
  margin-bottom: 100px;
  margin-top: calc(#{var(--headerHeight)} * -1);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/events/events-hero.jpg");
  @media (max-width: 768px) {
    min-height: 100vh;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        241.28deg,
        rgba(14, 14, 57, 0.75) 31.43%,
        rgba(22, 22, 66, 0.25) 70.06%,
        #1e1e4a 106.29%
      ),
      linear-gradient(0deg, rgba(21, 21, 73, 0.2), rgba(21, 21, 73, 0.2));
  }
  .events-hero__caption {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 88px;
    .section-title {
      max-width: 280px;
      text-align: center;
      margin: 0 auto 10px;
    }
    .section-text {
      font-size: clamp(18px, calc(1.125rem + ((1vw - 3.6px) * 0.7692)), 30px);
      margin-bottom: 40px;
    }
  }
  .events-single__labels {
    display: flex;
    justify-content: center;
    // column-gap: 8px;
    margin-bottom: 40px;
  }
  .events-card__date {
    padding: 0;
    padding-inline: 20px;
    gap: 8px;
    background: rgba(77, 122, 222, 0.35);
    box-shadow: 0px 0px 64px rgba(0, 154, 241, 0.3);
    backdrop-filter: blur(23px);
    border-radius: 50px;
    flex: 0 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    opacity: 0.8;
    span {
      font-size: 14px;
      line-height: 140%;
    }
  }
  .events-hero__btn {
    text-align: center;
  }

  @media (min-width: 480px) {
    .events-hero__caption {
      max-width: 400px;
    }
  }
  @media (min-width: 768px) {
    --sectionPaddingTop: 88px;
    margin-bottom: 120px;
    .events-single__labels {
      margin-bottom: 35px;
      gap: 12px;
    }
    .events-card__date {
      height: 48px;
      span {
        font-size: 18px;
      }
    }
    .events-hero__caption {
      max-width: 450px;
      padding-bottom: 76px;
      padding-top: 22px;
      .section-title {
        max-width: 100%;
      }
    }
  }
  @media (min-width: 1024px) {
    margin-bottom: 130px;
    .events-single__labels {
      margin-bottom: 35px;
      gap: 10px;
    }
    .events-card__date {
      padding-inline: 32px;
      height: 56px;
    }
    .events-hero__caption {
      padding-top: 40px;
      padding-bottom: 106px;
      max-width: 540px;
      .section-text {
        margin-bottom: 72px;
      }
    }
  }
  @media (min-width: 1366px) {
    padding-top: 108px;
    margin-bottom: 160px;
    .events-hero__caption {
      padding-top: 60px;
      padding-bottom: 80px;
      max-width: 600px;
      .section-text {
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 1700px) {
    padding-top: 155px;
    margin-bottom: 200px;
    .events-hero__caption {
      padding-top: 50px;
      padding-bottom: 220px;
      max-width: 700px;
      .section-title {
        margin-bottom: 20px;
      }
      .section-text {
        margin-bottom: 80px;
      }
    }
    .events-single__labels {
      margin-bottom: 40px;
    }
    .events-card__date {
      padding-inline: 40px;
      height: 76px;
      span {
        font-size: 24px;
      }
    }
  }
}

.webp {
  .events-hero {
    background-image: url("../img/events/events-hero.webp");
  }
}

.no-webp {
  .events-hero {
    background-image: url("../img/events/events-hero.jpg");
  }
}

.albums-slider-caption {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  text-align: center;
  z-index: 5;
  top: 0;
  left: 0;
  .albums-slider-title {
    margin-top: auto;
    font-size: 28px;
    line-height: 140%;
    max-width: 95%;
    width: 100%;
    margin: auto auto 0;
    transform: translateY(1.5rem);
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  .albums-slider-year {
    font-size: 16px;
    line-height: 140%;
    margin-top: auto;
    opacity: 0.8;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 768px) {
    .albums-slider-title {
      font-size: 36px;
    }
    .albums-slider-year {
      font-size: 20px;
    }
  }
  @media (min-width: 1024px) {
    .albums-slider-title {
      font-size: 52px;
    }
    .albums-slider-year {
      font-size: 24px;
    }
  }
  @media (min-width: 1700px) {
    .albums-slider-title {
      font-size: 60px;
      transform: translateY(40px);
    }
    .albums-slider-year {
      font-size: 28px;
      margin-bottom: 40px;
    }
  }
}

.events-absolute {
  img {
    opacity: 0.7;
    &:nth-child(1) {
      width: 4vw;
      left: 1rem;
      top: 0;
    }
    &:nth-child(2) {
      right: 50px;
      top: 25px;
      width: 3vw;
    }
    &:nth-child(3) {
      width: 5vw;
      bottom: 0;
      right: 50px;
    }
    &:nth-child(4) {
      width: 15vw;
      left: 80px;
      bottom: 0;
    }
  }
}
