section.hero {
  [class*="swiper-button-"] {
    top: 100%;
  }
  .swiper-nav {
    position: relative;
    z-index: 3;
  }
}

.hero-slider {
  padding: 100px 0 120px;
  margin-top: -50px;
  @media (max-width: 991px) {
    padding: 80px 0;
  }
  .hero-slider__item {
    position: relative;
  }
  .hero-slider__img {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .hero-slider__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 30px 15px;

    border-radius: 50%;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
  .hero-slider__item-name {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 600;
    color: $white;
    text-align: center;
    // margin-bottom: 18px;
    padding: 0 20px;

    transform: translateY(15px);
    opacity: 0;
    transition: 0.15s 0.2s ease-in-out;
    .hero-slider__item-track {
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 2;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      margin-bottom: 0.8rem;
    }
  }
  .hero-slider__item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 17px;

    transform: translateY(-15px);
    opacity: 0;
    transition: 0.15s 0.2s ease-in-out;
  }
  .slider-actions__item {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $white;
    color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
    i {
      font-size: 20px;
      transition: 0.25s;
      &.icon-pause {
        font-size: 32px;
      }
      @media (max-width: 768px) {
        font-size: 14px;
        &.icon-pause {
          font-size: 22px;
        }
      }
    }
    svg {
      width: 20px;
      height: 20px;
      path,
      rect {
        fill: $blue;
        transition: 0.25s;
      }
      @media (max-width: 768px) {
        width: 14px;
        height: 14px;
      }
    }
    @include hover {
      background-color: $blue;
      i {
        color: $white;
      }
      svg {
        path,
        rect {
          fill: $white;
        }
      }
    }
  }
}

.hero-slider {
  .swiper-slide {
    width: 380px;
    .hero-slider__img {
      transition: 0.2s ease-in-out;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }

    &:not(.swiper-slide-active) {
      .hero-slider__img {
        transform: scale(0.5) translateY(80%);
      }
    }

    &.swiper-slide-active {
      .hero-slider__img {
        box-shadow: 0 0 0 5px #3c94bb, 0 0 90px 6px rgba(0, 154, 241, 0.48),
          0 0 21px -1px rgba(60, 148, 187, 0.7);
      }

      .hero-slider__item-inner {
        opacity: 1;
        transition: opacity 0.35s ease-in-out;
      }

      .hero-slider__item-name {
        transform: translateY(0);
        opacity: 1;
        transition: 0.15s 0.2s ease-in-out;
      }
      .hero-slider__item-actions {
        transform: translateY(0);
        opacity: 1;
        transition: 0.15s 0.2s ease-in-out;
      }
    }

    @media (max-width: 1366px) {
      width: 304px;

      .hero-slider__item-inner {
        .slider-actions__item {
          width: 48px;
          height: 48px;
        }

        .hero-slider__item-name {
          font-size: 42px;
        }
      }
    }
    @media (max-width: 768px) {
      width: 256px;

      .hero-slider__item-inner {
        .slider-actions__item {
          width: 36px;
          height: 36px;
        }

        .hero-slider__item-name {
          font-size: 32px;
        }
      }
    }

    @media (max-width: 400px) {
      width: 206px;

      .hero-slider__item-inner {
        .slider-actions__item {
          width: 32px;
          height: 32px;
        }

        .hero-slider__item-name {
          font-size: 24px;
        }
      }
    }
  }
}

.swiper-slide-next,
.swiper-slide-prev {
  .hero-slider__img {
    transform: scale(0.8) translateY(20%) !important;
    box-shadow: 0 0 90px 6px rgba(0, 154, 241, 0.48),
      0 0 21px -1px rgba(60, 148, 187, 0.7);
  }
}

.swiper-slide-next-n1,
.swiper-slide-prev-n1 {
  .hero-slider__img {
    transform: scale(0.7) translateY(40%) !important;
    box-shadow: 0 0 90px 6px rgba(0, 154, 241, 0.48),
      0 0 21px -1px rgba(60, 148, 187, 0.7);
  }
}

//Slider nav section

.swiper-nav {
  user-select: none;
  padding: 0 15px;
}
.nav-notification {
  padding: 0 90px;
  white-space: nowrap;
}

.hero-slider__item-play {
  &.lazy-image {
    i {
      display: none;
    }
  }
}
