.hero-slider {
  .hero-slider__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .hero-slider__img {
    border-radius: 50%;
    position: relative;
    img {
      border-radius: 50%;
    }
  }
  .hero-slider__item-inner {
    position: absolute;
    bottom: 40px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  .hero-slider__item-name {
    font-size: 56px;
    line-height: 67px;
    font-weight: 600;
    color: $white;
    text-align: center;
    margin-bottom: 18px;
    padding: 0 20px;
  }
  .hero-slider__item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 17px;
  }
  .slider-actions__item {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $white;
    color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide {
    padding-top: 80px;
    padding-bottom: 120px;
    transition: transform 0.5s ease;
    &.swiper-slide-active {
      .hero-slider__item {
        transform: scale(1);
      }
    }
  }
  .swiper-slide-next,
  .swiper-slide-prev {
    .hero-slider__item {
      // transform: scale(0.9);
      margin-top: 80px;
    }
  }
  .swiper-slide-next-n1,
  .swiper-slide-prev-n1 {
    .hero-slider__item {
      // transform: scale(0.8);
      margin-top: 150px;
    }
  }
  .swiper-slide-next-n2,
  .swiper-slide-prev-n2 {
    .hero-slider__item {
      // transform: scale(0.7);
      margin-top: 225px;
    }
  }
  .swiper-slide-active {
    z-index: 2;
    .hero-slider__item {
      .hero-slider__item-inner {
        width: 100%;
        animation: heroSliderInnerAppear 1s forwards ease;
      }
    }
    .hero-slider__img {
      &::after {
        opacity: 1;
      }
    }
  }
}

@keyframes heroSliderInnerAppear {
  from {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
