.popular-slider {
  --paddingInline: 1.25rem;
  padding-left: var(--paddingInline);
  // padding-right: var(--paddingInline);
  .circle-button {
    // position: absolute;
    z-index: 3;
    transform-origin: center;
  }
  .popular-slider-nav {
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    top: 50%;
    left: 0;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 3;
    padding-inline: 1.25rem;
    @media (min-width: 768px) {
      --paddingInline: 2.5rem;
    }
  }
  @media (min-width: 1366px) {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .swiper-slide {
    user-select: none;
  }
}

.popular-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: $white;
  @include hover {
    color: $white;
    .popular-item__title {
      color: $blue;
    }
  }
  &:active {
    color: $white;
    .popular-item__title {
      color: $blue;
    }
  }
  .popular-item__number {
    flex: 0 0 40px;
    font-size: clamp(18px, calc(1.125rem + ((1vw - 3.6px) * 1.1538)), 36px);
    line-height: 140%;
    font-weight: 600;
    text-align: center;
  }
  .popular-item__thumb {
    flex: 0 0 48px;
    height: 48px;
    border-radius: 12px;
    position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
    // }
    img {
      border-radius: inherit;
    }
  }
  .popular-item__info {
    flex: 0 0 50%;
  }
  .popular-item__title,
  .popular-item__artitst {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    width: 100%;
    line-height: 140%;
  }
  .popular-item__title {
    font-size: clamp(18px, calc(1.125rem + ((1vw - 3.6px) * 0.7692)), 30px);
    font-weight: 600;
    transition: 0.25s;
  }
  .popular-item__artitst {
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.641)), 24px);
    font-weight: 300;
    opacity: 0.8;
  }
  @media (min-width: 768px) {
    margin-bottom: 25px;
    .popular-item__thumb {
      flex: 0 0 66px;
      height: 66px;
    }
    .popular-item__info {
      flex: 0 0 300px;
    }
  }
  @media (min-width: 1024px) {
    margin-bottom: 40px;
  }
  @media (min-width: 1366px) {
    gap: 20px;
    .popular-item__thumb {
      flex: 0 0 81px;
      height: 81px;
    }
  }
  @media (min-width: 768px) {
    .popular-item__info {
      flex: 0 0 250px;
    }
  }
}
.popular-absolute {
  img {
    &:nth-child(1) {
      width: #{randomNum(15, 20)}vw;
      bottom: 0;
      left: 10%;
    }
    &:nth-child(2) {
      width: #{randomNum(30, 40)}vw;
      transform: rotate(155deg);
      top: #{randomNum(-20, -25)}vw;
      left: #{randomNum(10, 15)}vw;
    }
    &:nth-child(3) {
      width: #{randomNum(30, 40)}vw;
      right: #{randomNum(10, 12)}vw;
      top: #{randomNum(-5, -10)}vw;
    }
    &:nth-child(4) {
      width: #{randomNum(10, 15)}vw;
      right: #{randomNum(15, 20)}vw;
      bottom: #{randomNum(20, 35)}vw;
    }
    @media (min-width: 768px) {
      &:nth-child(1) {
        width: #{randomNum(5, 7)}vw;
        bottom: 0;
        left: 40%;
      }
      &:nth-child(2) {
        width: #{randomNum(15, 20)}vw;
        transform: rotate(155deg);
        top: #{randomNum(-2, -5)}vw;
        left: #{randomNum(10, 15)}vw;
      }
      &:nth-child(3) {
        width: #{randomNum(15, 20)}vw;
        right: #{randomNum(10, 12)}vw;
        top: #{randomNum(-5, -10)}vw;
        opacity: 0.5;
      }
      &:nth-child(4) {
        width: #{randomNum(3, 5)}vw;
        left: #{randomNum(40, 50)}vw;
        top: #{randomNum(-2, -5)}vw;
      }
    }
  }
}
