#preloader {
  background: radial-gradient(
      54.68% 54.68% at 50% 45.32%,
      #050547 0%,
      #000022 100%
    ),
    #ffffff;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: 0.8s linear;
  width: 100%;
  z-index: 999991;
  opacity: 1;
}

#preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader-circle-logo {
  background-color: transparent;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  -webkit-animation-name: preloaderCircle;
  animation-name: preloaderCircle;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

.preloader-circle-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.preloader-logo {
  width: 859px;
  height: 185px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation-name: preloaderLogo;
  animation-name: preloaderLogo;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  transition: 0.5s;
  opacity: 0;
}

.preloader-star {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: auto;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_548_13441)'%3E%3Cg filter='url(%23filter1_f_548_13441)'%3E%3Cpath d='M27 12L27 42' stroke='%23A4D4FF' stroke-opacity='0.85' stroke-width='3'/%3E%3C/g%3E%3Cpath d='M27 12V38.25' stroke='url(%23paint0_linear_548_13441)' stroke-width='3' stroke-linecap='round'/%3E%3C/g%3E%3Cg filter='url(%23filter2_f_548_13441)'%3E%3Cg filter='url(%23filter3_f_548_13441)'%3E%3Cpath d='M42 27.0002L12 27.0002' stroke='%23A4D4FF' stroke-opacity='0.85' stroke-width='3'/%3E%3C/g%3E%3Cpath d='M42 27.0002L12 27.0002' stroke='url(%23paint1_linear_548_13441)' stroke-width='3' stroke-linecap='round'/%3E%3C/g%3E%3Cg filter='url(%23filter4_f_548_13441)'%3E%3Cg filter='url(%23filter5_f_548_13441)'%3E%3Cpath d='M35.0503 18.8501L18.6454 35.255' stroke='%23A4D4FF' stroke-opacity='0.85' stroke-width='2.5'/%3E%3C/g%3E%3Cpath d='M35.0503 18.8501L18.6454 35.255' stroke='url(%23paint2_linear_548_13441)' stroke-width='2.5' stroke-linecap='round'/%3E%3C/g%3E%3Cg filter='url(%23filter6_f_548_13441)'%3E%3Cg filter='url(%23filter7_f_548_13441)'%3E%3Cpath d='M18.6001 18.8L35.005 35.2049' stroke='%23A4D4FF' stroke-opacity='0.85' stroke-width='2.5'/%3E%3C/g%3E%3Cpath d='M21.8799 22.0802L32.3628 32.5632' stroke='url(%23paint3_linear_548_13441)' stroke-width='2.5' stroke-linecap='round'/%3E%3C/g%3E%3Cg filter='url(%23filter8_f_548_13441)'%3E%3Ccircle cx='27.0003' cy='27.0002' r='1.2' fill='%238FFFFF'/%3E%3C/g%3E%3Cg filter='url(%23filter9_f_548_13441)'%3E%3Ccircle cx='27.0002' cy='27.0001' r='0.8' fill='%23C7E2FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_548_13441' x='24.5' y='9.5' width='5' height='33.5' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter1_f_548_13441' x='13.5' y='0' width='27' height='54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='6' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter2_f_548_13441' x='9.5' y='24.5002' width='35' height='5' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter3_f_548_13441' x='0' y='13.5002' width='54' height='27' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='6' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter4_f_548_13441' x='16.3955' y='16.6001' width='20.9048' height='20.9049' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter5_f_548_13441' x='5.76172' y='5.96619' width='42.1724' height='42.1727' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='6' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter6_f_548_13441' x='16.7163' y='16.9161' width='20.1724' height='20.1727' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter7_f_548_13441' x='5.71631' y='5.91608' width='42.1724' height='42.1727' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='6' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter8_f_548_13441' x='15.8003' y='15.8002' width='22.3999' height='22.4' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='5' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3Cfilter id='filter9_f_548_13441' x='24.2002' y='24.2001' width='5.6001' height='5.59998' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='1' result='effect1_foregroundBlur_548_13441'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_548_13441' x1='27' y1='15.5423' x2='27.0138' y2='38.2503' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.00833321' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3Cstop offset='0.51875' stop-color='%237BC0FF'/%3E%3Cstop offset='1' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_548_13441' x1='37.3125' y1='27.0002' x2='16.5597' y2='27.0117' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.00833321' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3Cstop offset='0.51875' stop-color='%237BC0FF'/%3E%3Cstop offset='1' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_548_13441' x1='32.1564' y1='21.744' x2='20.9531' y2='32.9555' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.00833321' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3Cstop offset='0.51875' stop-color='%237BC0FF'/%3E%3Cstop offset='1' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_548_13441' x1='22.0197' y1='22.22' x2='32.3664' y2='32.5598' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.00833321' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3Cstop offset='0.51875' stop-color='%239ED0FD'/%3E%3Cstop offset='1' stop-color='%23A4D4FF' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.preloader-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0.4;
  box-shadow: 0px 0px 5px 3px #6c69ff;
  background-color: #fff;
  position: absolute;
  opacity: 0;
}

.preloader-star:nth-child(1),
.preloader-circle:nth-child(1) {
  top: 87vh;
  left: 60vw;
  -webkit-animation: preloaderStarAppear 4s forwards ease-in-out;
  animation: preloaderStarAppear 4s forwards ease-in-out;
  -webkit-animation-delay: 0.2144523926s;
  animation-delay: 0.2144523926s;
}

.preloader-star:nth-child(1) {
  width: 31px;
}

.preloader-star:nth-child(2),
.preloader-circle:nth-child(2) {
  top: 16vh;
  left: 7vw;
  -webkit-animation: preloaderStarAppear 4s forwards ease-in-out;
  animation: preloaderStarAppear 4s forwards ease-in-out;
  -webkit-animation-delay: 0.2892472674s;
  animation-delay: 0.2892472674s;
}

.preloader-star:nth-child(2) {
  width: 39px;
}

.preloader-star:nth-child(3),
.preloader-circle:nth-child(3) {
  top: 80vh;
  left: 41vw;
  -webkit-animation: preloaderStarAppear 1s forwards ease-in-out;
  animation: preloaderStarAppear 1s forwards ease-in-out;
  -webkit-animation-delay: 0.36044337s;
  animation-delay: 0.36044337s;
}

.preloader-star:nth-child(3) {
  width: 6px;
}

.preloader-star:nth-child(4),
.preloader-circle:nth-child(4) {
  top: 69vh;
  left: 33vw;
  -webkit-animation: preloaderStarAppear 1s forwards ease-in-out;
  animation: preloaderStarAppear 1s forwards ease-in-out;
  -webkit-animation-delay: 0.4707875287s;
  animation-delay: 0.4707875287s;
}

.preloader-star:nth-child(4) {
  width: 11px;
}

.preloader-star:nth-child(5),
.preloader-circle:nth-child(5) {
  top: 11vh;
  left: 76vw;
  -webkit-animation: preloaderStarAppear 1s forwards ease-in-out;
  animation: preloaderStarAppear 1s forwards ease-in-out;
  -webkit-animation-delay: 0.6812308388s;
  animation-delay: 0.6812308388s;
}

.preloader-star:nth-child(5) {
  width: 30px;
}

.preloader-star:nth-child(6),
.preloader-circle:nth-child(6) {
  top: 24vh;
  left: 76vw;
  -webkit-animation: preloaderStarAppear 2s forwards ease-in-out;
  animation: preloaderStarAppear 2s forwards ease-in-out;
  -webkit-animation-delay: 0.3785812762s;
  animation-delay: 0.3785812762s;
}

.preloader-star:nth-child(6) {
  width: 36px;
}

.preloader-star:nth-child(7),
.preloader-circle:nth-child(7) {
  top: 11vh;
  left: 29vw;
  -webkit-animation: preloaderStarAppear 4s forwards ease-in-out;
  animation: preloaderStarAppear 4s forwards ease-in-out;
  -webkit-animation-delay: 0.4305980073s;
  animation-delay: 0.4305980073s;
}

.preloader-star:nth-child(7) {
  width: 34px;
}

.preloader-star:nth-child(8),
.preloader-circle:nth-child(8) {
  top: 1vh;
  left: 49vw;
  -webkit-animation: preloaderStarAppear 4s forwards ease-in-out;
  animation: preloaderStarAppear 4s forwards ease-in-out;
  -webkit-animation-delay: 0.8321273432s;
  animation-delay: 0.8321273432s;
}

.preloader-star:nth-child(8) {
  width: 38px;
}

.preloader-star:nth-child(9),
.preloader-circle:nth-child(9) {
  top: 57vh;
  left: 18vw;
  -webkit-animation: preloaderStarAppear 3s forwards ease-in-out;
  animation: preloaderStarAppear 3s forwards ease-in-out;
  -webkit-animation-delay: 0.1611077165s;
  animation-delay: 0.1611077165s;
}

.preloader-star:nth-child(9) {
  width: 39px;
}

.preloader-star:nth-child(10),
.preloader-circle:nth-child(10) {
  top: 60vh;
  left: 28vw;
  -webkit-animation: preloaderStarAppear 2s forwards ease-in-out;
  animation: preloaderStarAppear 2s forwards ease-in-out;
  -webkit-animation-delay: 0.5579022953s;
  animation-delay: 0.5579022953s;
}

.preloader-star:nth-child(10) {
  width: 31px;
}

.preloader-star:nth-child(11),
.preloader-circle:nth-child(11) {
  top: 50vh;
  left: 90vw;
  -webkit-animation: preloaderStarAppear 4s forwards ease-in-out;
  animation: preloaderStarAppear 4s forwards ease-in-out;
  -webkit-animation-delay: 0.540055549s;
  animation-delay: 0.540055549s;
}

.preloader-star:nth-child(11) {
  width: 28px;
}

.preloader-star:nth-child(12),
.preloader-circle:nth-child(12) {
  top: 38vh;
  left: 86vw;
  -webkit-animation: preloaderStarAppear 1s forwards ease-in-out;
  animation: preloaderStarAppear 1s forwards ease-in-out;
  -webkit-animation-delay: 0.1679728019s;
  animation-delay: 0.1679728019s;
}

.preloader-star:nth-child(12) {
  width: 34px;
}

.preloader-star:nth-child(13),
.preloader-circle:nth-child(13) {
  top: 9vh;
  left: 85vw;
  -webkit-animation: preloaderStarAppear 2s forwards ease-in-out;
  animation: preloaderStarAppear 2s forwards ease-in-out;
  -webkit-animation-delay: 0.6114553241s;
  animation-delay: 0.6114553241s;
}

.preloader-star:nth-child(13) {
  width: 20px;
}

.preloader-star:nth-child(14),
.preloader-circle:nth-child(14) {
  top: 12vh;
  left: 12vw;
  -webkit-animation: preloaderStarAppear 3s forwards ease-in-out;
  animation: preloaderStarAppear 3s forwards ease-in-out;
  -webkit-animation-delay: 0.4102958492s;
  animation-delay: 0.4102958492s;
}

.preloader-star:nth-child(14) {
  width: 7px;
}

.preloader-star:nth-child(15),
.preloader-circle:nth-child(15) {
  top: 30vh;
  left: 72vw;
  -webkit-animation: preloaderStarAppear 4s forwards ease-in-out;
  animation: preloaderStarAppear 4s forwards ease-in-out;
  -webkit-animation-delay: 0.2693566549s;
  animation-delay: 0.2693566549s;
}

.preloader-star:nth-child(15) {
  width: 7px;
}

.preloader-triangles {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.preloader-triangles .triangle-two,
.preloader-triangles .triangle-four,
.preloader-triangles .triangle-five,
.preloader-triangles .triangle-six,
.preloader-triangles .triangle-seven,
.preloader-triangles .triangle-eight,
.preloader-triangles .triangle-ten,
.preloader-triangles .triangle-eleven,
.preloader-triangles .triangle-twelve,
.preloader-triangles .triangle-thirteen,
.preloader-triangles .triangle-fourteen,
.preloader-triangles .triangle-fifteen,
.preloader-triangles .triangle-seventeen {
  opacity: 0;
}
.preloader-triangles .triangle-first {
  -webkit-animation-name: triangleFirst;
  animation-name: triangleFirst;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  opacity: 0;
}
.preloader-triangles .triangle-second {
  -webkit-animation-name: triangleSecond;
  animation-name: triangleSecond;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  opacity: 0;
  -webkit-transform: translate3d(50%, 50%, 0px) scale(0.8);
  transform: translate3d(50%, 50%, 0px) scale(0.8);
}
.preloader-triangles .triangle-third {
  -webkit-animation-name: triangleThird;
  animation-name: triangleThird;
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  opacity: 0;
}

@-webkit-keyframes preloaderStarAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes preloaderStarAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes triangleFirst {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes triangleFirst {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes triangleSecond {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 50%, 0px) scale(0.8);
    transform: translate3d(50%, 50%, 0px) scale(0.8);
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0px) scale(1);
    transform: translate3d(0%, 0%, 0px) scale(1);
  }
}
@keyframes triangleSecond {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 50%, 0px) scale(0.8);
    transform: translate3d(50%, 50%, 0px) scale(0.8);
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0px) scale(1);
    transform: translate3d(0%, 0%, 0px) scale(1);
  }
}
@-webkit-keyframes triangleThird {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.15;
  }
}
@keyframes triangleThird {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.15;
  }
}
@-webkit-keyframes preloaderCircle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
  }
  95% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
  }
}
@keyframes preloaderCircle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(-180deg);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
  }
  95% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
    transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
  }
}
@-webkit-keyframes preloaderLogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@keyframes preloaderLogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
}
