//Releases Slider styles

.releases-slider {
  @media (min-width: 320px) {
    padding: 0 30px;
  }
  @media (min-width: 575px) {
    padding: 0 50px;
  }
  @media (min-width: 1024px) {
    padding: 0 80px;
  }
  &.playing {
    .play-wrap {
      .icon-play-rounded {
        display: none;
      }
      .icon-pause {
        display: block;
      }
    }
  }
  > img {
    bottom: -140px;
    width: 15vw;
    right: -80px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    user-select: none;

    .img-wrapper {
      position: relative;
      border-radius: 25%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        //background-color: rgba(0, 0, 0, 0);
        transition: 0.15s;
        border-radius: inherit;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:not(.swiper-slide-active) {
      .img-wrapper {
        box-shadow: 0 0 22px -8px rgba(0, 0, 0, 0.1);

        img {
          opacity: 0;
        }

        &::after {
          background-color: rgba(#0d264a, 0.3);
          transition: 0.25s;
        }
      }

      .swiper-slide-prev,
      .swiper-slide-nex {
        &::after {
          background-color: rgba(#0d264a, 0.5);
        }
      }
    }
  }

  .swiper-slide-shadow {
    display: none;
  }
}

.releases-slider-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  height: 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  .releases-button-prev,
  .releases-button-next {
    transition: 0.35s ease-in-out;

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      span {
        transform: translate(6px, -50%);
      }

      transform: scale(1.1);
    }
  }

  .releases-button-prev {
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.1);
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.releases-slider-info {
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: 100;
  width: 100%;
  max-width: 590px;
  border-radius: 100px;
  padding: 20px 30px;
  @media (min-width: 768px) {
    left: 0;
  }
  .play-wrap {
    max-width: 122px;
    width: 100%;
    position: relative;
    .release-play-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include hover {
        color: $blue;
      }
    }
    i {
      transition: 0.25s;
    }
    .icon-play-rounded {
      font-size: 10px;
    }
    .icon-pause {
      font-size: 12px;
      display: none;
    }
  }

  .info-wrap {
    padding-left: 25px;
    position: relative;
  }

  .track-name {
    font-weight: 600;
    font-size: 32px;
  }

  .track-info {
    font-size: 24px;
    opacity: 0.7;
    font-weight: 100;
    line-height: 1.3;
  }

  @media (max-width: 1300px) {
    max-width: 416px;
    padding: 25px;
    .play-wrap {
      max-width: 82px;
    }
    .track-name {
      font-size: 24px;
    }
    .track-info {
      font-size: 18px;
    }
  }

  @media (max-width: 1024px) {
    padding: 20px;
    max-width: 350px;
    .play-wrap {
      max-width: 67px;
    }
    .track-name {
      font-size: 20px;
    }
    .track-info {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    padding: 15px;
    max-width: 70%;
    left: 50%;
    transform: translateX(-50%);
    .play-wrap {
      max-width: 44px;
    }
    .track-name {
      font-size: 16px;
    }
    .track-info {
      font-size: 12px;
    }
  }
}
