//Releases Slider styles

.releases-slider {
  padding: 0 80px;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    user-select: none;

    .img-wrapper {
      position: relative;
      border-radius: 25%;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        //background-color: rgba(0, 0, 0, 0);
        transition: 0.15s;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:not(.swiper-slide-active) {
      .img-wrapper {
        box-shadow: 0 0 22px -8px rgba(0, 0, 0, 0.1);

        img {
          opacity: 0;
        }

        &::after {
          background-color: rgba(#0d264a, 0.3);
          transition: 0.25s;
        }
      }

      .swiper-slide-prev,
      .swiper-slide-nex {
        &::after {
          background-color: rgba(#0d264a, 0.5);
        }
      }
    }
  }

  .swiper-slide-shadow {
    display: none;
  }
}

.releases-slider-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  justify-content: space-between;

  .releases-button-prev,
  .releases-button-next {
    transition: 0.35s ease-in-out;

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      span {
        transform: translate(6px, -50%);
      }

      transform: scale(1.1);
    }
  }

  .releases-button-prev {
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.1);
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
