.tiktok-slider {
  --paddingInline: 1.25rem;
  padding-left: var(--paddingInline);
  padding-right: var(--paddingInline);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(
      270.99deg,
      #000023 -109.06%,
      rgba(19, 19, 70, 0) 50%
    );
    z-index: 1;
    pointer-events: none;
  }
  .swiper-slide {
    width: 90px;
  }
  .circle-button {
    position: absolute;
    right: var(--paddingInline);
    z-index: 3;
    top: 40%;
    transform: translateY(-50%);
    z-index: 99;
    transform-origin: top;
    &.circle-button-prev {
      left: var(--paddingInline);
      transform: rotate(180deg) translateY(-50%);
    }
  }
  @media (min-width: 575px) {
    --paddingInline: 2.5rem;
    .swiper-slide {
      width: 150px;
    }
  }
  @media (min-width: 1024px) {
    .swiper-slide {
      width: 194px;
    }
  }
  @media (min-width: 1366px) {
    .swiper-slide {
      width: 234px;
    }
  }
  @media (min-width: 1700px) {
    .swiper-slide {
      width: 274px;
    }
  }
  @media (min-width: 1921px) {
    .swiper-slide {
      width: 350px;
    }
  }
}

.titktok-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: $white;
  @include hover {
    .tiktok-slider__img {
      img {
        transform: scale(1.1);
      }
    }
    .tiktok-slider__name {
      color: $blue;
    }
  }
  .lazy-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tiktok-slider__img {
    border-radius: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 100%;
      padding: 2px;
      background: linear-gradient(
        45deg,
        #abf5ff,
        #cafa7a,
        #4cff7e,
        #5d81ff,
        #ff60ac
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 2;
    }
  }
  img {
    border-radius: inherit;
    max-width: 100%;
    display: block;
    position: relative;
    transition: 0.25s;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  .tiktok-slider__name {
    color: $white;
    text-align: center;
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 1.0256)), 30px);
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: 0.25s;
  }
  @media (min-width: 768px) {
    .tiktok-slider__img {
      margin-bottom: 10px;
    }
  }
  @media (min-width: 1024px) {
  }
}
