.video-slider {
  --paddingInline: 1.25rem;
  padding-top: 120px;
  margin-top: -120px;
  padding-bottom: 250px;
  margin-bottom: -150px;
  padding-left: 140px;
  margin-left: -100px;
  padding-right: var(--paddingInline);
  @media (min-width: 768px) {
    --paddingInline: 2.5rem;
  }
  @media (max-width: 767px) {
    padding-left: 120px;
  }
}

.video-card {
  --videoCardRadius: 30px;
  box-shadow: 0px 0px 100px 4px rgba(0, 154, 241, 0.4);
  border-radius: var(--videoCardRadius);
  .video-card__header {
    position: relative;
    padding-bottom: 54.75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: var(--videoCardRadius) var(--videoCardRadius) 0px 0px;
  }
  .video-card__body {
    border-radius: 0px 0px var(--videoCardRadius) var(--videoCardRadius);
    position: relative;
    padding: 17px 35px 22px;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(21, 21, 95, 0.5);
      backdrop-filter: blur(22px);
      border-radius: 0px 0px var(--videoCardRadius) var(--videoCardRadius);
      z-index: -1;
    }
  }
  .video-card__title,
  .video-card__artist {
    position: relative;
    z-index: 2;
    line-height: 140%;
  }
  .video-card__title {
    font-size: clamp(18px, calc(1.125rem + ((1vw - 3.6px) * 1.4103)), 40px);
  }
  .video-card__artist {
    font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 1.0256)), 30px);
    opacity: 0.8;
  }
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // z-index: 3;
  }
  .plyr--video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: var(--videoCardRadius);
    border-top-right-radius: var(--videoCardRadius);
    // opacity: 0;
    // visibility: hidden;
    background: transparent !important;
    &:fullscreen {
      opacity: 1;
      visibility: visible;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--videoCardRadius) var(--videoCardRadius) 0px 0px;
      background: linear-gradient(
        0deg,
        rgba(7, 7, 31, 0.3),
        rgba(7, 7, 31, 0.3)
      );
      z-index: 2;
    }
    &.plyr--paused {
      .plyr__controls {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0s;
      }
    }
    // &.plyr--playing {
    //   .plyr__controls {
    //     display: flex;
    //   }
    // }
    .plyr__control[data-plyr="play"]:not(.plyr__control--pressed) {
      width: 68px;
      height: 68px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: rgba(171, 239, 255, 0.5);
      svg {
        fill: $blue;
        // opacity: 0.8;
      }
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.7);
      pointer-events: none;
    }
  }
}
