.video-player-wrapper {
  // display: grid;
  // grid-template-columns: 65% 35%;
  min-height: auto;
  padding-top: 13px;
  &.active {
    .video-player-big {
      .video-list {
        height: calc(100vh - 240px);
        overflow-y: auto;
      }
      .video-player-playlist__actions {
        display: flex;
      }
      .player-img__area {
        opacity: 0;
        visibility: hidden;
      }
      .video-player-playlist__header {
        div {
          &:first-of-type {
            display: none;
          }
        }
        i {
          transform: rotate(90deg);
        }
      }
    }
  }
  @media (min-width: 575px) {
    padding-top: 40px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 100%;
  }
}

.video-player-big {
  display: grid;
  padding-bottom: 100px;
  .player-img__area {
    width: 100%;
    padding-left: 0;
    border-radius: 40px;
    transition: none;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      opacity: 0.3;
      border: 2px solid #abefff;
      border-radius: inherit;
    }
    #video-main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      overflow: hidden;
      border-radius: inherit;
      .plyr {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        pointer-events: none;
        .plyr__control.plyr__control--overlaid,
        .plyr__controls {
          display: none;
        }
        &.video-fullscreen {
          pointer-events: all;
          .plyr__controls {
            display: flex;
          }
        }
      }
      .plyr__poster {
        transform: scale(1.7);
        z-index: 9999999999;
      }
      iframe {
        transform: scale(1.7);
        z-index: 999999999999;
      }
      @media (min-width: 768px) {
        .plyr__poster {
          transform: scale(2);
        }
        iframe {
          transform: scale(2);
        }
      }
    }
    .player-track__img {
      width: 100%;
      height: 243px;
      border-radius: inherit;
      margin-bottom: 0;
      transition: none;
      img {
        height: inherit;
        border-radius: inherit;
        transition: none;
      }
      &::before {
        border-radius: inherit;
        background: linear-gradient(
          0deg,
          rgba(14, 14, 57, 0.2),
          rgba(14, 14, 57, 0.2)
        );
        border-radius: inherit;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 5px solid rgba(114, 221, 246, 0.5);
        filter: blur(15px);
      }
    }
  }
  .video-controls {
    position: relative;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr 0.2fr auto;
    grid-template-areas:
      "video-details video-details video-sound video-like"
      "video-progress video-progress video-progress video-progress"
      "video-repeat video-controls video-controls video-full";
    column-gap: 15px;
    align-items: center;
    background: none;
    &::after {
      display: none;
    }
    .player-controls__bottom-thumb {
      display: none;
    }
    .player-controls-song-details {
      order: 1;
      grid-area: video-details;
      .song-name {
        font-size: 22px;
      }
    }
    .sound-container {
      order: 2;
      grid-area: video-sound;
      display: flex;
      justify-content: flex-end;
    }
    .video-like {
      order: 3;
      grid-area: video-like;
    }
    .progress-area {
      order: 4;
      opacity: 1;
      visibility: visible;
      position: relative;
      grid-area: video-progress;
      width: 100%;
      &::after {
        display: none;
      }
      input {
        // margin-top: -8.5px;
        color: #42d1f7;
        height: 5px;
        background-color: #273560;
        border: none;
        box-shadow: 0px 0px 15px 2px rgba(0, 154, 241, 0.78);
      }
      progress {
        display: none;
      }
      .progress_bar {
        &::before {
          right: -12px;
        }
        &::after {
          right: -9px;
        }
      }
      .plyr__time + .plyr__time::before {
        display: none;
      }
    }
    #repeat-video-plist {
      order: 5;
      grid-area: video-repeat;
    }
    .player-controls__bottom-main {
      order: 6;
      grid-area: video-controls;
      gap: 19px;
      // max-width: 190px;
      justify-content: center;
      grid-column: 2 / 4;
      .play-pause {
        .player-big__controls-btn {
          width: 60px;
          height: 60px;
        }
      }
    }
    #video-full-screen {
      order: 7;
      grid-area: video-full;
    }
    .player-controls-song-details {
      &::before,
      &::after {
        display: none;
      }
    }
  }
  .video-list {
    grid-auto-rows: max-content;
    padding-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61px;
    background-color: #02022f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 98;
    // transition: height 0.35s ease-in-out;
    overflow-y: hidden;
    box-shadow: 0px 0px 126px 6px rgba(0, 154, 241, 0.48);
    scroll-padding-bottom: 100px;
    scroll-padding-top: 100px;
    grid-auto-rows: max-content;
    > li {
      padding-right: 0;
    }
    > li:not(.video-player-playlist__header) {
      scroll-snap-align: center;
    }
    > li:last-of-type {
      padding-bottom: 20px;
    }
    .video-player-playlist__actions {
      z-index: 5;
      position: fixed;
      left: 50%;
      transform: translateY(-62px) translateX(-50%);
      height: 50px;
      display: flex;
      align-items: center;
      display: none;
      width: calc(100% - 2.5rem);
      .player-controls-song-details {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 8px;
        .song-name {
          font-size: 22px;
        }
      }
      .player-controls__bottom-thumb {
        flex: 0 0 55px;
        height: 50px;
        img {
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .play-pause {
        display: inline-flex;
        align-items: center;
        margin-left: auto;
      }
    }
    .video-player-playlist__header {
      position: sticky;
      top: 0;
      height: 61px;
      width: calc(100% + 40px);
      transform: translateX(-20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 12px;
      cursor: pointer;
      background-color: #02022f;
      margin-bottom: 10px;
      z-index: 3;
      overflow: hidden;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      > div {
        pointer-events: none;
      }
      i {
        display: inline-block;
        transform: rotate(-90deg);
      }
    }
  }
  .video-player-playlist__desktop {
    display: none;
  }
  .progress_bar-time {
    margin-top: 10px;
    pointer-events: none;
    span {
      font-size: clamp(14px, calc(0.875rem + ((1vw - 3.6px) * 0.1515)), 16px);
      &:first-of-type {
        opacity: 0.6;
      }
    }
  }
  .player-big__controls-btn {
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-btn;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    appearance: none;
  }
  .song-name,
  .song-media {
    ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  @media (min-width: 575px) {
    .player-img__area {
      border-radius: 60px;
      .player-track__img {
        height: 360px;
        border-radius: 60px;
      }
    }
  }
  @media (min-width: 768px) {
    .player-img__area {
      margin-bottom: 50px;
    }
    .player-controls__bottom {
      .player-controls-song-details {
        justify-content: flex-start;
      }
      .progress-area {
        left: 50%;
        transform: translateX(-50%);
        margin-block: 50px;
      }
    }
  }
  @media (min-width: 1024px) {
    grid-template-columns: 0.8fr 1fr;
    column-gap: 15px;
    padding-bottom: 150px;
    .video-list {
      position: relative;
      background: none;
      box-shadow: none;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 0;
      padding-right: 15px;
      height: calc(61vh - 73px);
      scrollbar-color: #abefff7a transparent;
      scrollbar-width: thin;
      padding-left: 2.5rem;
      scroll-snap-type: y mandatory;
      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 7px solid transparent;
        background-clip: content-box;
        background-color: #abefff7a;
      }
      // scroll-padding-block: 0;
      > li:not(.video-player-playlist__header) {
        scroll-snap-align: start;
      }
      > li:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .player-list__item {
        margin-bottom: 25px;
        pointer-events: all;
        color: $white;
        text-decoration: none;
        &:active {
          color: $white;
          text-decoration: none;
        }
      }
      .video-player-playlist__actions {
        display: none;
      }
      .video-player-playlist__header {
        display: none;
        .video-player-playlist__header-text,
        .video-player-playlist__header-icon {
          display: none;
        }
      }
    }
    .player-img__area {
      height: 61vh;
      margin-bottom: 0;
      .player-track__img {
        height: 100%;
      }
    }
    .video-player-playlist__desktop {
      display: block;
      font-size: 24px;
      line-height: 140%;
      z-index: 2;
      position: relative;
      padding-bottom: 15px;
      padding-left: 2.5rem;
      margin-bottom: 25px;
      .form-control-line {
        left: 2.5rem;
        display: block;
        z-index: 2;
      }
    }
    .video-controls {
      position: fixed;
      bottom: 0;
      width: 100%;
      max-width: 1760px;
      padding-inline: 2.5rem;
      padding-bottom: 25px;
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
      z-index: 99;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        background: #02022f;
      }
      .player-controls__bottom-thumb {
        display: block;
        flex: 0 0 55px;
        width: 55px;
        height: 50px;
        border-radius: 10px;
      }
      .bottom-controls-btn {
        width: 36px;
        height: 36px;
        i {
          font-size: 16px;
        }
      }
      .player-controls-song-details {
        order: 2;
        flex: 0 0 200px;
        max-width: 200px;
        .song-name {
          font-size: 18px;
        }
        .song-media {
          font-size: 14px;
        }
      }
      .sound-container {
        order: 5;
      }
      .video-like {
        order: 3;
      }
      .progress-area {
        order: 1;
        flex: 0 0 100%;
        margin: 0;
        margin-top: -2px;
        height: 10px;
        cursor: pointer;
        @include hover {
          .timeline {
            .thumb-indicator {
              --scale: 1.2;
            }
          }
        }
        .timeline {
          background-color: #273560;
          border-radius: 2px;
          height: 5px;
          position: relative;
          padding-top: 5px;
          &::before {
            content: "";
            position: absolute;
            background-color: $blue;
            top: 0;
            left: 0;
            bottom: 0;
            right: calc(100% - var(--progress-position) * 100%);
            border-radius: 2px;
          }
          &::after {
            content: "";
            position: absolute;
            background-color: $blue;
            top: 0;
            left: 0;
            bottom: 0;
            right: calc(100% - var(--preview-position) * 100%);
            border-radius: 2px;
          }
          .thumb-indicator {
            --scale: 1;
            position: absolute;
            top: 50%;
            left: calc(var(--preview-position) * 100%);
            transform: translateX(-50%) translateY(-50%) scale(var(--scale));
            height: 16px;
            width: 16px;
            border-radius: 50%;
            border: 5px solid $blue;
            background-color: $white;
            transition: transform 150ms ease-in-out;
            aspect-ratio: 1 / 1;
            z-index: 1;
            @include hover {
              + .timeline-thumb {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
        .timeline-thumb {
          padding: 5px 10px;
          height: 28px;
          background: rgba(171, 239, 255, 0.1);
          box-shadow: 0px 0px 15px rgba(171, 239, 255, 0.15);
          border-radius: 5px;
          font-size: 0.8rem;
          position: absolute;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          top: -40px;
          left: calc(var(--preview-position) * 100%);
          transform: translateX(-50%);
          opacity: 0;
          visibility: hidden;
          transition: opacity 150ms ease-in-out;
          .timeline-current-time {
            opacity: 0.8;
          }
        }
      }
      #repeat-video-plist {
        order: 6;
        grid-area: video-repeat;
      }
      .player-controls__bottom-main {
        order: 4;
        margin: 0 auto;
      }
      #video-full-screen {
        order: 7;
        grid-area: video-full;
      }
    }
  }
  @media (min-width: 1366px) {
    grid-template-columns: 1.1fr 1fr;
  }
}

.video-progress-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1760px;
  padding-inline: 0;
  order: 4;
  opacity: 1;
  visibility: visible;
  position: relative;
  grid-area: video-progress;
  .plyr__time + .plyr__time::before {
    display: none;
  }
  .plyr__time + .plyr__time {
    display: block;
  }
  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  @media (min-width: 1024px) {
    position: absolute;
    top: -1px;
    padding-block: 0;
    padding-inline: 2.5rem;
  }
}

.timeline-container {
  height: 5px;
  cursor: pointer;
  display: flex;
}

.timeline {
  background-color: #273560;
  height: 5px;
  width: 100%;
  position: relative;
  border-radius: 2px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: $blue;
  border-radius: 2px;
  box-shadow: 0px 0px 15px 2px rgba(0, 154, 241, 0.78);
}

.timeline .thumb-indicator {
  --scale: 1;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale)) translateY(-50%);
  width: 16px;
  height: 16px;
  top: 50%;
  left: calc(var(--progress-position) * 100%);
  background-color: $white;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
  border: 5px solid $blue;
  z-index: 2;
  box-shadow: 0px 0px 15px 2px rgba(0, 154, 241, 0.78);
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}
