extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Artists'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.artists
    .container
      h1.section-title.mb-title Our popular artists

      .artists-grid
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/01.webp", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/02.webp", alt="")
            .artists-card__info
              .artists-card__name Parricio Labarca
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/03.webp", alt="")
            .artists-card__info
              .artists-card__name Sky
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/04.webp", alt="")
            .artists-card__info
              .artists-card__name Joshua
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/05.webp", alt="")
            .artists-card__info
              .artists-card__name Roma Nebo
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/06.webp", alt="")
            .artists-card__info
              .artists-card__name Parricio
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/07.webp", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/08.webp", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/01.webp", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/02.webp", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/03.webp", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img.lazy-image
              .placeholder-image
                .icon-loading
              img(data-src="img/artists/04.webp", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More


      #loadmore.load-more__btn.d-flex.justify-content-center
        button.btn.btn-white-glow Show more
