extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Artists'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.artists
    .container
      h1.section-title Our popular artists

      .artists-grid
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel Gabriel Gabriel Gabriel Gabriel Gabriel Gabriel Gabriel
              .artists-card__descr Very long long longest description so long how can it be so long
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More
        .artists-card.grid-card
          .artists-card__inner
            .artists-card__img
              picture
                source(srcset='https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg' type='image/webp')
                img(src="https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?cs=srgb&dl=pexels-irina-iriser-1379636.jpg&fm=jpg", alt="")
            .artists-card__info
              .artists-card__name Gabriel
              .artists-card__descr American musician
            .artists-card__footer
              a(href="artist-page.html").btn.btn-transparent More

      #loadmore.load-more__btn.d-flex.justify-content-center
        button.btn.btn-white-glow Show more
