extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Blog'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.blog-latest
    .container
      .row.align-items-center
        .col-12.col-md-6
          .blog-latest__item
            h2.section-title Latest updates
            h3.section-subtitle Roma Nebo presented a new song
            p.section-text.opacity-7 Roma Nebo presented a new song "Oore", which became the main soundtrack to the series "My favorite Strashko". The new composition continues the story and theme of the song "Beautiful with a heart", dedicated to the fight against bullying and hatred on social networks.
          .blog-latest__item-btn
            a(href="#").btn.btn-light Learn more
        .col-12.col-md-6
          .blog-latest__img
            .blog-latest__img-item
              picture
                source(srcset='img/blog/blog.webp' type='image/webp')
                img(src='img/blog/blog.png')
              .blog-label.blog-latest__label newest

  section.blog-slider
    .blog-slider__content
      .swiper.blog-latest-slider
        .swiper-wrapper
          .swiper-slide
            a(href="open-news.html").blog-slider__item.blog-item
              .blog-item__header
                .blog-item__img
                  picture
                    source(srcset='img/blog/blog-slider1.webp' type='image/webp')
                    img(src="img/blog/blog-slider1.jpg", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    .blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                .blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been a lack of new names and fresh
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            a(href="open-news.html").blog-slider__item.blog-item
              .blog-item__header
                .blog-item__img
                  picture
                    source(srcset='img/blog/blog-slider1.webp' type='image/webp')
                    img(src="img/blog/blog-slider1.jpg", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    .blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                .blog-item__title 30 most beautiful pictures of the independent Ukraine:  Roma Nebo
                .blog-item__descr.section-text.opacity-7 On the day of the 30th anniversary of Ukraine's Independence, we asked Roma Nebo band leader Nata Zhyzhchenko to make a special...
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            a(href="open-news.html").blog-slider__item.blog-item
              .blog-item__header
                .blog-item__img
                  picture
                    source(srcset='img/blog/blog-slider1.webp' type='image/webp')
                    img(src="img/blog/blog-slider1.jpg", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    .blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                .blog-item__title The Ultimate Guide to the Brave Festival! Factory 2021
                .blog-item__descr.section-text.opacity-7 Already this weekend as part of the Brave electronic music festival! Factory Kievmetrobud plant will open its doors to visitors. What awaits guests from 21 to 23 August and what
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            a(href="open-news.html").blog-slider__item.blog-item
              .blog-item__header
                .blog-item__img
                  picture
                    source(srcset='img/blog/blog-slider1.webp' type='image/webp')
                    img(src="img/blog/blog-slider1.jpg", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    .blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                .blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            a(href="open-news.html").blog-slider__item.blog-item
              .blog-item__header
                .blog-item__img
                  picture
                    source(srcset='img/blog/blog-slider1.webp' type='image/webp')
                    img(src="img/blog/blog-slider1.jpg", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    .blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                .blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021