extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Blog'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.blog-latest
    .container
      .row.align-items-center
        .col-12.col-md-6
          .blog-latest__item
            h2.section-title Latest updates
            h3.section-subtitle Roma Nebo presented a new song
            p.section-text.opacity-7 Roma Nebo presented a new song "Oore", which became the main soundtrack to the series "My favorite Strashko". The new composition continues the story and theme of the song "Beautiful with a heart", dedicated to the fight against bullying and hatred on social networks.
          .blog-latest__item-btn
            a(href="#").btn.btn-light Learn more
        .col-12.col-md-6
          .blog-latest__img
            .blog-latest__img-item
              .lazy-image
                .placeholder-image
                  .icon-loading
                img(data-src='img/blog/blog.webp')
              .blog-label.blog-latest__label newest

  section.blog-slider.position-relative
    .offset-slider__content
      .swiper.blog-latest-slider.offset-slider
        .swiper-wrapper
          .swiper-slide
            .blog-slider__item.blog-item
              .blog-item__img-wrapper
                a(href="open-news.html").blog-item__img-link
                  .blog-item__header
                    .blog-item__img.lazy-image
                      .plazholder-image
                        .icon-loading
                      img(data-src="img/blog/blog-slider1.webp", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    a(href="#").blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                a(href="#").blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been a lack of new names and fresh
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            .blog-slider__item.blog-item
              .blog-item__img-wrapper
                a(href="open-news.html").blog-item__img-link
                  .blog-item__header
                    .blog-item__img.lazy-image
                      .plazholder-image
                        .icon-loading
                      img(data-src="img/blog/blog-slider1.webp", alt="Artist image")
                .blog-item__actions
                  .blog-label songs
                  .blog-activity.d-flex.align-items-center
                    a(href="#").blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                a(href="#").blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been a lack of new names and fresh
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            .blog-slider__item.blog-item
              .blog-item__img-wrapper
                a(href="open-news.html").blog-item__img-link
                  .blog-item__header
                    .blog-item__img.lazy-image
                      .plazholder-image
                        .icon-loading
                      img(data-src="img/blog/blog-slider1.webp", alt="Artist image")
                .blog-item__actions
                  .blog-label festivals
                  .blog-activity.d-flex.align-items-center
                    a(href="#").blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                a(href="#").blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been a lack of new names and fresh
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            .blog-slider__item.blog-item
              .blog-item__img-wrapper
                a(href="open-news.html").blog-item__img-link
                  .blog-item__header
                    .blog-item__img.lazy-image
                      .plazholder-image
                        .icon-loading
                      img(data-src="img/blog/blog-slider1.webp", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    a(href="#").blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                a(href="#").blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been a lack of new names and fresh
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
          .swiper-slide
            .blog-slider__item.blog-item
              .blog-item__img-wrapper
                a(href="open-news.html").blog-item__img-link
                  .blog-item__header
                    .blog-item__img.lazy-image
                      .plazholder-image
                        .icon-loading
                      img(data-src="img/blog/blog-slider1.webp", alt="Artist image")
                .blog-item__actions
                  .blog-label concerts
                  .blog-activity.d-flex.align-items-center
                    a(href="#").blog-activity__item.blog-likes
                      i.icon-heart
                      span 171
                    .blog-activity__item.blog-views
                      i.icon-eye
                      span 231
              .blog-item__body
                a(href="#").blog-item__title Tiano Bless performing "Sigue tu instinto" at Sofar Santiago on August 22th, 2015
                .blog-item__descr.section-text.opacity-7 Even the most ardent adherents of the dance scene are ready to admit: in recent years, there has been a lack of new names and fresh
              .blog-item__footer
                .blog-item__date
                  i.icon-calendar
                  span.opacity-7 16 Oct 2021
        .swiper-nav.d-none.d-md-flex.justify-content-between.align-items-center.pt-md-4
          .arrow-button.arrow-button__prev.blog-button-prev
            span PREV
          .arrow-button.arrow-button__next.blog-button-next
            span NEXT
    .blog-absolute.absolute.h-100.w-100
      .container-fluid.h-100
        .row.h-100
          .col.h-100.blog-decor-bottom.position-relative
            img.rellax(src="img/decorations/carrot.svg", alt="" data-rellax-speed="-1")
            img.rellax(src="img/decorations/snake.svg", alt="" data-rellax-speed="-.5")
            img.rellax(src="img/decorations/decor-11.svg", alt="" data-rellax-speed="-1")
            img.rellax(src="img/decorations/decor-13.svg", alt="" data-rellax-speed="-1.5")

