extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Charity'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.charity
    .container
      .row.align-items-center
        .charity-column.charity-column__descripton
          .charity-description
            h1.charity-title.section-title Help the environment together!
            p.section-text.opacity-7 WISE MUSIC Community sponsors mass planting of trees, cleanup of the environment, oceans, air, production of biodegradable packaging, etc.
            a(href="#").btn.btn-light On the site
        .charity-column.charity-column__img
          .charity-img
            .charity-img__inner
              picture
                source(srcset='img/charity/1.webp' type='image/webp')
                img(src='img/charity/charity.jpg')
  section.packaging
    .container
      .row
        .col-md-12
          .packaging-card
            .packaging-card__caption
              h2.packaging-card__title Biodegradable packaging
              h3.packaging-card__subtitle Eco-friendly packaging already helps you stand out. Custom packaging takes it to the next level. Get inspired by some of our favorites.
              p.packaging-card__text.opacity-7 Your one stop shop for eco-friendly shipping solutions. We offer the world's most sustainable packaging - recycled, recyclable and naturally biodegradable packaging to ensure you can be proud of how you ship.

  section.projects
    .container
      h2.section-title Projects
    .offset-slider__content
      .swiper.projects-slider.offset-slider
        .swiper-wrapper
          .swiper-slide
            a(href="#").projects-slider__item
              .projects-slider__thumb
                picture
                  source(srcset='img/charity/2.webp' type='image/webp')
                  img(src='img/charity/2.jpg')
              .projects-slider__title Global tree planting
              .projects-slider__date.opacity-7 June, 2021
          .swiper-slide
            a(href="#").projects-slider__item
              .projects-slider__thumb
                picture
                  source(srcset='img/charity/1.webp' type='image/webp')
                  img(src='img/charity/1.jpg')
              .projects-slider__title Production of biodegradable packaging
              .projects-slider__date.opacity-7 June, 2021
          .swiper-slide
            a(href="#").projects-slider__item
              .projects-slider__thumb
                picture
                  source(srcset='img/charity/3.webp' type='image/webp')
                  img(src='img/charity/3.jpg')
              .projects-slider__title Production of biodegradable packaging
              .projects-slider__date.opacity-7 June, 2021
          .swiper-slide
            a(href="#").projects-slider__item
              .projects-slider__thumb
                picture
                  source(srcset='img/charity/1.webp' type='image/webp')
                  img(src='img/charity/1.jpg')
              .projects-slider__title Production of biodegradable packaging
              .projects-slider__date.opacity-7 June, 2021

        .circle-button.circle-button-next.projects-slider__btn
