extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Events'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.events-inner
    .container
      .events-grid
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            a(href="events-single.html" data-ajax-link).events-card__img.lazy-image
              picture
                source(data-srcset="img/events/1.webp" srcset="img/1x1.png" type='image/webp')
                img(data-src="img/events/1.png" src="img/1x1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48


      #loadmore.load-more__btn.d-flex.justify-content-center
        button.btn.btn-white-glow Load more
