extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Events'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.events-inner
    .container
      .events-grid
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48
        .events-card
          .events-card__inner
            .events-card__img
              picture
                source(srcset='img/events-slider/1.webp' type='image/webp')
                img(src="img/events-slider/1.png", alt="")
            .events-card__body
              .events-card__date
                i.icon-calendar
                span 16 Oct 2021
              .events-card__title Roma Nebo
              .events-card__btn
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Buy Tickets
                  span.btn-blue__price $48

      #loadmore.load-more__btn.d-flex.justify-content-center
        button.btn.btn-white-glow Load more
