extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Events'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.events-hero.events-single
    .container
      a(href="events.html").back-btn
        i.icon-chevron-l
        span Back
      .row.events-single__row.align-items-center
        .col-md-5.col-lg-7
          .events-single__media
            .events-single__thumb
              .events-single__img(style="background-image: url('img/events/1.png')")
        .col-md-7.col-lg-5
          .events-single__description
            .events-single__caption
              h1.section-title Roma Nebo
              .events-single__labels
                .events-card__date
                  i.icon-calendar
                  span 16 Oct 2021
                .events-card__date
                  i.icon-calendar
                  span Silent Hill, 458
              h2.section-subtitle big solo concert
              p.section-text.opacity-7 Roma Nebo in Paris! On November 2, a concert of the famous artist Roma Nebo will take place in the Ibiza nightclub.
              a(href="events-single.html").btn.btn-blue
                i.icon-leather
                span Buy Tickets
                span.btn-blue__price $48

  section.events-about
    .container
      .events-about__card.info-card
        .events-about__card-caption
          .section-title.info-card__title About event
          .section-subtitle.info-card__subtitle New album presentation and greatest hits - meet Roma Nebo at ibiza nightclub
          .section-text.opacity-7 One of the most famous artists of our time will shake Paris with a cool show program, which will include all the songs that the audience loved - "Let Me On The Dance Floor", "Bird", "War Girl"and other YouTube millionaires. In addition, the guests of the evening will be the first to hear the work of the new album live!



