extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Home'
  //- ==============================
  //- ********* Settings END *******


//- Page Content
block content
  section.hero.position-relative
    .swiper.hero-slider
      .swiper-wrapper
        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/01.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/02.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/03.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/04.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/05.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/01.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/04.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/01.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/02.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/03.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/04.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/05.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/01.jpg", alt="Artist image")

            include partials/slider-item-inner

        .swiper-slide
          .hero-slider__item
            .hero-slider__img
              img(src="img/hero-slider/04.jpg", alt="Artist image")

            include partials/slider-item-inner



    .swiper-nav.d-flex.justify-content-center.align-items-center
      .swiper-btn-prev PREV
      .nav-notification Scroll to know more
      .swiper-btn-next NEXT
  section.about
    .container
      .about-row
        .about-img
          picture
            source(srcset='img/about/about.webp' media='(min-width: 768px)' type='image/webp')
            source(srcset='img/about/about.avif' media='(min-width: 768px)' type='image/avif')
            source(srcset='img/about/about.png' media='(min-width: 768px)')
            source(srcset='img/about/about.webp' type='image/webp')
            source(srcset='img/about/about.avif' type='image/avif')
            img(src='img/about/about.png')
        .about-caption
          h2.section-title About Wise Music
          p.section-text.opacity-7
            span.text-blue W1SE  Music
            |  is a record label dedicated to recording and promoting cross-cultural high vibrational music. With unique sounds, inspirational lyrics, and passionate personalities expect unique music dedicated to raising the awareness of the world around us.

  section.events
    .swiper.events-slider
      .swiper-wrapper
        .swiper-slide
          .events-slider__item
            .events-slider__img
              img(src="img/events-slider/1.png", alt="Artist")
            .events-slider__info
              .events-slider__info-caption
                .events-slider__date
                  i.icon-calendar
                  span 16 Oct 2021
                .events-slider__artist Rae
              .events-slider__action
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Learn more
                  span.btn-blue__price $48
        .swiper-slide
          .events-slider__item
            .events-slider__img
              img(src="img/events-slider/1.png", alt="Artist")
            .events-slider__info
              .events-slider__info-caption
                .events-slider__date
                  i.icon-calendar
                  span 16 Oct 2021
                .events-slider__artist Rae
              .events-slider__action
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Learn more
                  span.btn-blue__price $48
        .swiper-slide
          .events-slider__item
            .events-slider__img
              img(src="img/events-slider/1.png", alt="Artist")
            .events-slider__info
              .events-slider__info-caption
                .events-slider__date
                  i.icon-calendar
                  span 16 Oct 2021
                .events-slider__artist Rae
              .events-slider__action
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Learn more
                  span.btn-blue__price $48
        .swiper-slide
          .events-slider__item
            .events-slider__img
              img(src="img/events-slider/1.png", alt="Artist")
            .events-slider__info
              .events-slider__info-caption
                .events-slider__date
                  i.icon-calendar
                  span 16 Oct 2021
                .events-slider__artist Rae
              .events-slider__action
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Learn more
                  span.btn-blue__price $48
        .swiper-slide
          .events-slider__item
            .events-slider__img
              img(src="img/events-slider/1.png", alt="Artist")
            .events-slider__info
              .events-slider__info-caption
                .events-slider__date
                  i.icon-calendar
                  span 16 Oct 2021
                .events-slider__artist Rae
              .events-slider__action
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Learn more
                  span.btn-blue__price $48
        .swiper-slide
          .events-slider__item
            .events-slider__img
              img(src="img/events-slider/1.png", alt="Artist")
            .events-slider__info
              .events-slider__info-caption
                .events-slider__date
                  i.icon-calendar
                  span 16 Oct 2021
                .events-slider__artist Rae
              .events-slider__action
                a(href="#").btn.btn-blue
                  i.icon-leather
                  span Learn more
                  span.btn-blue__price $48
      .swiper-button-next.events-button-next Next
      .swiper-button-prev.events-button-prev Prev

  section.releases
    .container
      .row
        .col-md-6
          .releases-caption
            h3.section-title.relises-title Releases
            h4.section-subtitle.release-subtitle Explore the latest tracks artists
            p.section-text.releases-text.opacity-7 We support artists and give the best opportunities to to develop the performer as a person and become as a famous world star.
        .col-md-6
  section.become-artist
    .container
      .become-artist__card.info-card
        .become-artist__card-caption
          h4.section-title.info-card__title Become an artist of Wise Music!
          h5.section-subtitle.info-card__subtitle We provide artists with the best
          p.info-card__text.section-text.opacity-7 Employees have experience in promoting great artists, teams, working with them. So hitting the radio or writing a hit song on a label can take much less time.
          a(href="#").btn.btn-light
            span Start now



