extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Home'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.hero
    .swiper.hero-slider
      .swiper-wrapper
        .swiper-slide Slide 1
        .swiper-slide Slide 2
        .swiper-slide Slide 3
        .swiper-slide Slide 4
        .swiper-slide Slide 5
        .swiper-slide Slide 6
        .swiper-slide Slide 7
        .swiper-slide Slide 8
        .swiper-slide Slide 9
      .swiper-button-next
      .swiper-button-prev
      .swiper-pagination
  section.project-info
    .container
      .info-card.project-info__card
        .info-card__description
          h2.info-card__title Project info
          p.info-card__text.opacity-7 W1SE  Music is a record label dedicated to recording and promoting cross-cultural high vibrational music. With unique sounds, inspirational lyrics, and passionate personalities expect unique music dedicated to raising the awareness of the world around us.




