extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Home'
	//- ==============================
	//- ********* Settings END *******


//- Page Content
block content
	section.privacy
		.container
			h1.privacy-title Privacy Policy Wise Music
			ol.privacy-list
				li.privacy-list__item
					h2.privacy-list__title Introduction
					ol
						li The privacy of our website visitors is very important to us, and we are committed to safeguarding it. This policy explains what we do with your personal information.
						li Consenting to our use of cookies in accordance with the terms of this policy when you first visit our website permits us to use cookies every time you visit our website.
				li.privacy-list__item
					h2.privacy-list__title How we collect your personal data
					p The following types of personal information may be collected, stored, and used:
					ol
						li Information about your computer including your IP address, geographical location, browser type and version, and operating system.
						li Information about your visits to and use of this website including the referral source, length of visit, page views, and website navigation paths.
						li Information that you enter when you register with our website, such as your email website.
						li Information that you enter when you create a profile on our website. For example, your name, profile pictures, gender, birthday, relationship status, interests and hobbies, educational details, and employment details.
						li Information that you enter in order to set up subscription to our emails and/or newsletters.
						li Information that is generated while using our website, including when, how often, and under what circumstances you use it.
						li Information relating to anything you purchase, services you use, or transaction you make through our website, which includes your name, address, telephone number, email address, and credit card details.
						li Information that you post to our website with the intention of publishing it on the internet.
						li Any other personal information you send to us.

				li.privacy-list__item
					h2.privacy-list__title Using Personal Information
					p Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages  of the website. We may use your personal information for the following:
					ol
						li Administering our website and business.
						li Personalizing our website for you.
						li Administering our website and business.
						li Enabling your use of the services available on ourwebsite.
						li Sending you goods purchased through our website.
						li Supplying services purchased through our website.
						li Sending statements, invoices, and payment reminders to you, and collecting payments from you.
						li Sending you on-marketing commercial communications.
						li Sending you email notifications you have specifically requested.
						li Sending you our email newsletter if you signed up for it (you can unsubscribe at any time).
						li Sending you marketing communications relating to our business or the businesses of third parties which we think may be of interest to you.
						li Providing third parties with statistical information about our users.
						li Dealing with inquiries and complaints made by or about you relating to our website.
						li Keeping our website secure and prevent fraud.
						li Verifying compliance with the terms and conditions governing the use of our website.
				li.privacy-list__item
					h2.privacy-list__title Retaining personal information
					ol
						li This Section G sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations regarding the retention and deletion of personal information.
						li Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.
				li.privacy-list__item
					h2.privacy-list__title Security of your personal information
					ol
						li We will take reasonable technical and organizational precautions to prevent the loss, misuse, or alteration of your personal information.
						li We will store all the personal information you provide on our secure (password- and firewall-protected) servers.
						li All electronic financial transactions entered into through our website will be protected by encryption technology.
						li You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.
						li You are responsible for keeping the password you use for accessing our website confidential; we will not ask you for your password (except when you log in to our website).
				li.privacy-list__item
					h2.privacy-list__title Your rights
					p You may instruct us to provide you with any personal information we hold  about you:
					ol
						li We may withhold personal information that you request to the extent permitted by law.
						li You may instruct us at any time not to process your personal information for marketing purposes.
						li In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.








