.albums-slider-caption
	.albums-slider-title The wizard
	.albums-slider-year 2018
	.albums-slider-play
		button(type="button").albums-play-btn
			svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
				g(opacity='0.9')
					rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')
					rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')

			svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='#FFFFFF')
