.events-slider__info
	.events-slider__info-caption
		.events-slider__date
			i.icon-calendar
			span 16 Oct 2021
		.events-slider__artist Rea
	.events-slider__action
		a(href="events-single.html").btn.btn-blue
			i.icon-leather
			span Learn more
			span.btn-blue__price $48