// Footer
footer.footer
  .container
    .footer-top
      .footer-logo
        a(href="index.html").footer-logo__link
          img(src="./img/logo.svg", alt="")
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Events
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Artists
          li.footer-nav__list-item
            a.nav-link.footer-nav__link(class=(pageTitle === 'Blog') ? "active" : "nav-link" href="blog.html") Blog
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Сooperation
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Charity
      .socials.footer-socials
        a(href="#").footer-socials__link
          i.icon-facebook
        a(href="#").footer-socials__link
          i.icon-instagram
    .footer-bottom
      .footer-copyright
        span.footer-text © Wise Music, 2021.
        span.footer-text All rights reserved.
      .footer-contact
        span.footer-text Contact us easily
        a(href="mailto:wise@tribe.com").footer-mail.text-center wise@tribe.com
      .footer-policy
        a(href="#").footer-link Privacy Policy

