// Footer
footer.footer
  .container
    .footer-top
      .footer-logo
        a(href="#").footer-logo__link
          img(src="./img/logo.svg", alt="")
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Events
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Artists
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Blog
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Сooperation
          li.footer-nav__list-item
            a(href="#").nav-link.footer-nav__link Charity
      .footer-socials
        a(href="#").footer-socials__link FB
        a(href="#").footer-socials__link INS
    .footer-bottom

