head

  meta(charset="utf-8")
  title
    block title
      | #{pageTitle}

  // Mobile Specific Meta Tag
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  // Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.
  link(rel="stylesheet", media="screen" href='css/vendor.min.css')

  // Main Template Styles
  link(rel="stylesheet", media="screen" href='css/theme.min.css')