//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

doctype html
html(lang="en")

  //- head.pug template
  include head

  // Body
  body
    //- (style="overflow: hidden;padding-right: 15px;")
    //- Preloader
    //- include preloader

    include header

    main.lazy-background
      block content
    .random-circles
      - for(var x = 0; x < 15; x++)
        div(class="decor-circle decor-circle__one decor-circle-" + x)
      - for(var x = 0; x < 15; x++)
        div(class="decor-circle decor-circle__two decor-circle-" + x)

    // JavaScript (jQuery) libraries, plugins and custom scripts

    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(type="module" src='js/vendor.min.js')
    script(src='https://cdn.plyr.io/3.7.2/plyr.polyfilled.js')
    script(type="module" src='js/video-player.js')
    script(type="module" src='js/player.js')
    script(type="module" src='js/theme.min.js')
    include footer
    include modals
    include ../home/player-controls
    include ../player-big-modal
