//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

doctype html
html(lang="en")

  //- head.pug template
  include head

  // Body
  body

    include preloader
    include header

    main
      block content

    .random-circles
      - for(var x = 0; x < 8; x++)
        div(class="decor-circle decor-circle__one decor-circle-" + x)
      - for(var x = 0; x < 8; x++)
        div(class="decor-circle decor-circle__two decor-circle-" + x)

    // JavaScript (jQuery) libraries, plugins and custom scripts

    script(type="module" src='js/vendor.min.js')
    script(type="module" src='js/player.js')
    script(type="module" src='js/theme.min.js')
    include footer
    include modals
