.swiper.popular-slider
	.swiper-wrapper
		.swiper-slide
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021 Roma Nebo • 2021 Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021 Roma Nebo • 2021 Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-down)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18383)')
							path(d='M9.53089 12.4096C10.3227 13.2668 11.6773 13.2668 12.4691 12.4096L14.827 9.8571C16.0103 8.57614 15.1018 6.5 13.3579 6.5H8.64206C6.89819 6.5 5.98965 8.57614 7.17296 9.8571L9.53089 12.4096Z' fill='#FF5656')
						defs
							filter#filter0_d_929_18383(x='0.638672' y='0.5' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18383')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.337255 0 0 0 0 0.337255 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18383')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18383' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Apolinar
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Reality
					.popular-item__artitst Roma Nebo • 2021
		.swiper-slide
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-down)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18383)')
							path(d='M9.53089 12.4096C10.3227 13.2668 11.6773 13.2668 12.4691 12.4096L14.827 9.8571C16.0103 8.57614 15.1018 6.5 13.3579 6.5H8.64206C6.89819 6.5 5.98965 8.57614 7.17296 9.8571L9.53089 12.4096Z' fill='#FF5656')
						defs
							filter#filter0_d_929_18383(x='0.638672' y='0.5' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18383')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.337255 0 0 0 0 0.337255 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18383')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18383' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Apolinar
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Reality
					.popular-item__artitst Roma Nebo • 2021
		.swiper-slide
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-down)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18383)')
							path(d='M9.53089 12.4096C10.3227 13.2668 11.6773 13.2668 12.4691 12.4096L14.827 9.8571C16.0103 8.57614 15.1018 6.5 13.3579 6.5H8.64206C6.89819 6.5 5.98965 8.57614 7.17296 9.8571L9.53089 12.4096Z' fill='#FF5656')
						defs
							filter#filter0_d_929_18383(x='0.638672' y='0.5' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18383')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.337255 0 0 0 0 0.337255 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18383')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18383' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Apolinar
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Reality
					.popular-item__artitst Roma Nebo • 2021
		.swiper-slide
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Unfolding
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-down)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18383)')
							path(d='M9.53089 12.4096C10.3227 13.2668 11.6773 13.2668 12.4691 12.4096L14.827 9.8571C16.0103 8.57614 15.1018 6.5 13.3579 6.5H8.64206C6.89819 6.5 5.98965 8.57614 7.17296 9.8571L9.53089 12.4096Z' fill='#FF5656')
						defs
							filter#filter0_d_929_18383(x='0.638672' y='0.5' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18383')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.337255 0 0 0 0 0.337255 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18383')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18383' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Apolinar
					.popular-item__artitst Roma Nebo • 2021
			a(href="#").popular-item
				.popular-item__number
				.popular-item__icon(data-up)
					svg(width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(filter='url(#filter0_d_929_18369)')
							path(d='M9.53089 7.59035C10.3227 6.73316 11.6773 6.73316 12.4691 7.59035L14.827 10.1429C16.0103 11.4239 15.1018 13.5 13.3579 13.5H8.64206C6.89819 13.5 5.98965 11.4239 7.17296 10.1429L9.53089 7.59035Z' fill='#ABEFFF')
						defs
							filter#filter0_d_929_18369(x='0.638672' y='0.947266' width='20.7227' height='18.5527' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
								feflood(flood-opacity='0' result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
								femorphology(radius='1' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_929_18369')
								feoffset
								fegaussianblur(stdDeviation='2.5')
								fecomposite(in2='hardAlpha' operator='out')
								fecolormatrix(type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.937255 0 0 0 0 1 0 0 0 0.63 0')
								feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_929_18369')
								feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_929_18369' result='shape')
				.popular-item__thumb
					img(src="img/popular/1.jpg", alt="Track name")
				.popular-item__info
					.popular-item__title Reality
					.popular-item__artitst Roma Nebo • 2021



	.circle-button.circle-button-next.popular-slider__btn

