.hero-slider__item-inner
  .hero-slider__item-actions.slider-actions
    .hero-slider__item-play.slider-actions__item PL
    .hero-slider__item-info.slider-actions__item IN

  .hero-slider__item-name
    .pb-sm-3 Roma Nebo
    a(href="#").btn.btn-white-glow
      span Learn more