.offset-slider__content
	.swiper.video-slider.offset-slider
		.swiper-wrapper
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")

						.video-card__video(data-plyr-provider='youtube' data-plyr-embed-id='eVTXPUF4Oz4')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")


						.video-card__video(data-plyr-provider='youtube' data-plyr-embed-id='vVXIK1xCRpY')
					.video-card__body
						.video-card__title The Star Nation
						.video-card__artist Moyenei
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")

						.video-card__video(data-plyr-provider='youtube' data-plyr-embed-id='eVTXPUF4Oz4')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")

						.video-card__video
							iframe(src='https://www.youtube.com/embed/eVTXPUF4Oz4?rel=0&origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1' allowfullscreen='' allowtransparency='' allow='autoplay')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")

						.video-card__video(data-plyr-provider='youtube' data-plyr-embed-id='eVTXPUF4Oz4')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
.container
	.swiper-nav.d-flex.justify-content-between.align-items-center
		.arrow-button.arrow-button__prev.video-button-prev
			span PREV
		.arrow-button.arrow-button__next.video-button-next
			span NEXT
