.offset-slider__content
	.swiper.video-slider.offset-slider(data-video-playlist="/json/artist_video.json")
		.swiper-wrapper
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						.video-card__play-btn(data-bs-toggle="modal" data-bs-target="#videoPlayerModal" data-video-id="v1")
							i.icon-play
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						.video-card__play-btn(data-bs-toggle="modal" data-bs-target="#videoPlayerModal" data-video-id="v2")
							i.icon-play
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						.video-card__play-btn(data-bs-toggle="modal" data-bs-target="#videoPlayerModal" data-video-id="v3")
							i.icon-play
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						.video-card__play-btn(data-bs-toggle="modal" data-bs-target="#videoPlayerModal" data-video-id="v4")
							i.icon-play
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo

.container
	.swiper-nav.d-flex.justify-content-between.align-items-center
		.arrow-button.arrow-button__prev.video-button-prev
			span PREV
		.arrow-button.arrow-button__next.video-button-next
			span NEXT
