.offset-slider__content
	.swiper.video-slider.offset-slider
		.swiper-wrapper
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						button.play-btn.play-btn-transparent
							span.play-btn__icon
								svg(width='52' height='56' viewBox='0 0 52 56' fill='none' xmlns='http://www.w3.org/2000/svg')
									g(opacity='0.8' filter='url(#filter0_d_803_12335)')
										path(d='M39 26.2679C40.3333 27.0377 40.3333 28.9622 39 29.732L15 43.5885C13.6667 44.3583 12 43.396 12 41.8564L12 14.1436C12 12.604 13.6667 11.6417 15 12.4115L39 26.2679Z' fill='white')
									defs
										filter#filter0_d_803_12335(x='0' y='0.140625' width='52' height='55.7188' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
											feflood(flood-opacity='0' result='BackgroundImageFix')
											fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
											femorphology(radius='6' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_803_12335')
											feoffset
											fegaussianblur(stdDeviation='3')
											fecomposite(in2='hardAlpha' operator='out')
											fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.603922 0 0 0 0 0.945098 0 0 0 0.78 0')
											feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_803_12335')
											feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_803_12335' result='shape')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						button.play-btn.play-btn-transparent
							span.play-btn__icon
								svg(width='52' height='56' viewBox='0 0 52 56' fill='none' xmlns='http://www.w3.org/2000/svg')
									g(opacity='0.8' filter='url(#filter0_d_803_12335)')
										path(d='M39 26.2679C40.3333 27.0377 40.3333 28.9622 39 29.732L15 43.5885C13.6667 44.3583 12 43.396 12 41.8564L12 14.1436C12 12.604 13.6667 11.6417 15 12.4115L39 26.2679Z' fill='white')
									defs
										filter#filter0_d_803_12335(x='0' y='0.140625' width='52' height='55.7188' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
											feflood(flood-opacity='0' result='BackgroundImageFix')
											fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
											femorphology(radius='6' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_803_12335')
											feoffset
											fegaussianblur(stdDeviation='3')
											fecomposite(in2='hardAlpha' operator='out')
											fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.603922 0 0 0 0 0.945098 0 0 0 0.78 0')
											feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_803_12335')
											feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_803_12335' result='shape')
					.video-card__body
						.video-card__title The Star Nation
						.video-card__artist Moyenei
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						button.play-btn.play-btn-transparent
							span.play-btn__icon
								svg(width='52' height='56' viewBox='0 0 52 56' fill='none' xmlns='http://www.w3.org/2000/svg')
									g(opacity='0.8' filter='url(#filter0_d_803_12335)')
										path(d='M39 26.2679C40.3333 27.0377 40.3333 28.9622 39 29.732L15 43.5885C13.6667 44.3583 12 43.396 12 41.8564L12 14.1436C12 12.604 13.6667 11.6417 15 12.4115L39 26.2679Z' fill='white')
									defs
										filter#filter0_d_803_12335(x='0' y='0.140625' width='52' height='55.7188' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
											feflood(flood-opacity='0' result='BackgroundImageFix')
											fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
											femorphology(radius='6' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_803_12335')
											feoffset
											fegaussianblur(stdDeviation='3')
											fecomposite(in2='hardAlpha' operator='out')
											fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.603922 0 0 0 0 0.945098 0 0 0 0.78 0')
											feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_803_12335')
											feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_803_12335' result='shape')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						button.play-btn.play-btn-transparent
							span.play-btn__icon
								svg(width='52' height='56' viewBox='0 0 52 56' fill='none' xmlns='http://www.w3.org/2000/svg')
									g(opacity='0.8' filter='url(#filter0_d_803_12335)')
										path(d='M39 26.2679C40.3333 27.0377 40.3333 28.9622 39 29.732L15 43.5885C13.6667 44.3583 12 43.396 12 41.8564L12 14.1436C12 12.604 13.6667 11.6417 15 12.4115L39 26.2679Z' fill='white')
									defs
										filter#filter0_d_803_12335(x='0' y='0.140625' width='52' height='55.7188' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
											feflood(flood-opacity='0' result='BackgroundImageFix')
											fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
											femorphology(radius='6' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_803_12335')
											feoffset
											fegaussianblur(stdDeviation='3')
											fecomposite(in2='hardAlpha' operator='out')
											fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.603922 0 0 0 0 0.945098 0 0 0 0.78 0')
											feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_803_12335')
											feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_803_12335' result='shape')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo
			.swiper-slide
				.video-slider__card.video-card
					.video-card__header(style="background-image: url('img/video-slider/01.jpg')")
						button.play-btn.play-btn-transparent
							span.play-btn__icon
								svg(width='52' height='56' viewBox='0 0 52 56' fill='none' xmlns='http://www.w3.org/2000/svg')
									g(opacity='0.8' filter='url(#filter0_d_803_12335)')
										path(d='M39 26.2679C40.3333 27.0377 40.3333 28.9622 39 29.732L15 43.5885C13.6667 44.3583 12 43.396 12 41.8564L12 14.1436C12 12.604 13.6667 11.6417 15 12.4115L39 26.2679Z' fill='white')
									defs
										filter#filter0_d_803_12335(x='0' y='0.140625' width='52' height='55.7188' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
											feflood(flood-opacity='0' result='BackgroundImageFix')
											fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
											femorphology(radius='6' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_803_12335')
											feoffset
											fegaussianblur(stdDeviation='3')
											fecomposite(in2='hardAlpha' operator='out')
											fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.603922 0 0 0 0 0.945098 0 0 0 0.78 0')
											feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_803_12335')
											feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_803_12335' result='shape')
					.video-card__body
						.video-card__title Reality
						.video-card__artist Roma Nebo

