.swiper.tiktok-slider
	.swiper-wrapper
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Joshua
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Tiano Bless
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Roma Nebo
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Parricio Labarca Parricio Labarca
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Roma Nebo
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Parricio Labarca Parricio Labarca
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Roma Nebo
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img.lazy-image
					.placeholder-image
						.icon-loading
					img(data-src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto")
				.tiktok-slider__name Parricio Labarca Parricio Labarca
	.circle-button.circle-button-next.tiktok-slider__btn
	.circle-button.circle-button-prev.tiktok-slider__btn
