.swiper.tiktok-slider
	.swiper-wrapper
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img
					img(src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto").swiper-lazy
				.tiktok-slider__name Rae
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img
					img(src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto").swiper-lazy
				.tiktok-slider__name Joshua
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img
					img(src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto").swiper-lazy
				.tiktok-slider__name Tiano Bless
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img
					img(src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto").swiper-lazy
				.tiktok-slider__name Roma Nebo
		.swiper-slide
			a(href="#").titktok-slider__item
				.tiktok-slider__img
					img(src="img/events-slider/1.webp", alt="Artist" width="auto" height="auto").swiper-lazy
				.tiktok-slider__name Parricio Labarca Parricio Labarca
	.circle-button.circle-button-next.tiktok-slider__btn
