//About Section
section.about.position-relative
  .container
    .about-row
      .about-img
        .lazy-image
          picture
            source(data-srcset='img/about/about.png' srcset="img/1x1.png" type='image/webp')
            img(data-src='img/about/about.png' src="img/1x1.png" alt="About image")
          img.about-decor(data-src="img/about/decor.png", alt="")
      .about-caption
        h2.section-title About Wise Music
        p.section-text.opacity-7
          span.text-blue W1SE  Music
          |  is a record label dedicated to recording and promoting cross-cultural high vibrational music. With unique sounds, inspirational lyrics, and passionate personalities expect unique music dedicated to raising the awareness of the world around us.

