//About Section
section.about.position-relative
  .container
    .about-row
      .about-img
        .lazy-image
          .placeholder-image
            .icon-loading
          img(width="800" height="761" data-src="img/about/about.webp")
      .about-caption
        h2.section-title About Wise Music
        p.section-text.opacity-7
          span.text-blue W1SE  Music
          |  is a record label dedicated to recording and promoting cross-cultural high vibrational music. With unique sounds, inspirational lyrics, and passionate personalities expect unique music dedicated to raising the awareness of the world around us.

