//Events section
section.events.position-relative
  .events-absolute
    img(src="./img/decorations/decor-06.svg").position-absolute
    img(src="./img/decorations/decor-07.svg").position-absolute
    img(src="./img/decorations/decor-09.svg").position-absolute
    img(src="./img/decorations/frog.svg").position-absolute
  h2.section-title.text-center.mb-3.mb-md-5 Coming events
  .swiper.events-slider.scaled-slider
    .swiper-wrapper
      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")
          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

      .swiper-slide
        .events-slider__item
          .events-slider__img.lazy-image
            .placeholder-image
              .icon-loading
            img(src="" data-src="img/hero-slider/06.webp", alt="Artist")

          include ../partials/events-slider-info

  .container.events-slider-container.pt-5
    .swiper-nav.d-none.d-md-flex.justify-content-between.align-items-center
      .arrow-button.arrow-button__prev.events-button-prev
        span PREV
      .arrow-button.arrow-button__next.events-button-next
        span NEXT