//Hero Slider
section.hero.position-relative(data-volume-level="high")
  include player-controls
  .swiper.hero-slider
    audio(src="").main-audio
    .swiper-wrapper.playlist--list
      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")
          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="2")
          .hero-slider__img
            img(src="", alt="Artist")
          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="3")
          .hero-slider__img
            img(src="", alt="Artist")
          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="1")
          .hero-slider__img
            img(src="", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(opacity='0.9')
                    rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
                    rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

                svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more
  .swiper-nav.d-none.d-md-flex.justify-content-center.align-items-center
    .arrow-button.arrow-button__prev.swiper-btn-prev
      span PREV
    .nav-notification Scroll to know more
    .arrow-button.arrow-button__next.swiper-btn-next
      span NEXT
  //Player Controls
  .hero-absolute.absolute.hero-decor
    .container-fluid.h-100
      .row.h-100
        .col-md-5.hero-decor__left.h-100
          .d-flex.flex-column.justify-content-between.h-100
            img(src="img/decorations/decor-01.svg", alt="" data-rellax-speed="2").rellax.parallax-decor
            .decor-circle__one.parallax-decor
            .decor-circle__one.parallax-decor
            .decor-circle__two.parallax-decor
            img(src="img/decorations/decor-05.svg", alt="" data-rellax-speed="5").rellax.parallax-decor
            .decor-circle__one.parallax-decor
            img(src="img/decorations/snake.svg", alt="" data-rellax-speed="-2").rellax.parallax-decor
            img(src="img/decorations/decor-06.svg", alt="" data-rellax-speed="3").rellax.parallax-decor
            .decor-circle__two.parallax-decor
        .col-md-5.offset-md-2.hero-decor__right.h-100
          .d-flex.flex-column.justify-content-between.h-100
            .decor-circle__one.parallax-decor
            .decor-circle__three.parallax-decor
            img(src="img/decorations/decor-07.svg", alt="" data-rellax-speed="3").rellax.parallax-decor
            .decor-circle__three.parallax-decor
            img(src="img/decorations/decor-08.svg", alt="" data-rellax-speed="3").rellax.parallax-decor
            img(src="img/decorations/bird.svg", alt="" data-rellax-speed="-1").rellax.parallax-decor
            img(src="img/decorations/decor-09.svg", alt="" data-rellax-speed="-1.5").rellax.parallax-decor