//Hero Slider
section.hero.position-relative(data-volume-level="high")
  include player-controls
  .swiper.hero-slider
    audio(src="").main-audio
    .swiper-wrapper.playlist--list
      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/renegades.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/renegades.jpg", alt="Artist")
          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/rage-against.jpg" data-playlist="/json/artist_music2.json")
          .hero-slider__img
            img(src="/img/covers/rage-against.jpg", alt="Artist")
          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/diamond-eyes.jpg" data-playlist="/json/artist_music3.json")
          .hero-slider__img
            img(src="/img/covers/diamond-eyes.jpg", alt="Artist")
          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/meteora.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/meteora.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/minerva.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/minerva.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/rage-against.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/rage-against.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/hybrid-theory.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/hybrid-theory.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/white-pony.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/white-pony.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/white-pony.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/white-pony.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/white-pony.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/white-pony.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/white-pony.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/white-pony.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/white-pony.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/white-pony.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/white-pony.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/white-pony.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item(data-artist="/img/covers/white-pony.jpg" data-playlist="/json/artist_music.json")
          .hero-slider__img
            img(src="/img/covers/white-pony.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item.player-play-pause-btn
                i.icon-play-rounded
                i.icon-pause.d-none
              a(href="artist-page.html").hero-slider__item-info.slider-actions__item
                i.icon-info

            .hero-slider__item-name
              .pb-3.pt-3
              a(href="#").btn.btn-white-glow
                span Learn more
  .swiper-nav.d-none.d-md-flex.justify-content-center.align-items-center
    .arrow-button.arrow-button__prev.swiper-btn-prev
      span PREV
    .nav-notification Scroll to know more
    .arrow-button.arrow-button__next.swiper-btn-next
      span NEXT
  //Player Controls
  .hero-absolute.absolute.hero-decor
    .container-fluid.h-100
      .row.h-100
        .col-md-5.hero-decor__left.h-100
          .d-flex.flex-column.justify-content-between.h-100
            img(src="img/decorations/decor-01.svg", alt="").parallax-decor
            .decor-circle__one.parallax-decor
            .decor-circle__one.parallax-decor
            .decor-circle__two.parallax-decor
            img(src="img/decorations/decor-05.svg", alt="").parallax-decor
            .decor-circle__one.parallax-decor
            img(src="img/decorations/snake.svg", alt="" data-rellax-speed="-2").rellax.parallax-decor
            img(src="img/decorations/decor-06.svg", alt="").parallax-decor
            .decor-circle__two.parallax-decor
        .col-md-5.offset-md-2.hero-decor__right.h-100
          .d-flex.flex-column.justify-content-between.h-100
            .decor-circle__one.parallax-decor
            .decor-circle__three.parallax-decor
            img(src="img/decorations/decor-07.svg", alt="").parallax-decor
            .decor-circle__three.parallax-decor
            img(src="img/decorations/decor-08.svg", alt="").parallax-decor
            .lazy-image
              .placeholder-image
              img(data-src="img/decorations/bird.svg").parallax-decor
            img(src="img/decorations/decor-09.svg", alt="").parallax-decor