//Hero Slider
section.hero.position-relative
  .swiper.hero-slider
    .swiper-wrapper.playlist--list
      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/01.webp' type='image/webp')
              img(src="img/hero-slider/01.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/02.webp' type='image/webp')
              img(src="img/hero-slider/02.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/03.webp' type='image/webp')
              img(src="img/hero-slider/03.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/04.webp' type='image/webp')
              img(src="img/hero-slider/04.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/05.webp' type='image/webp')
              img(src="img/hero-slider/05.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/06.webp' type='image/webp')
              img(src="img/hero-slider/06.png", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/04.webp' type='image/webp')
              img(src="img/hero-slider/04.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/05.webp' type='image/webp')
              img(src="img/hero-slider/05.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/02.webp' type='image/webp')
              img(src="img/hero-slider/02.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/01.webp' type='image/webp')
              img(src="img/hero-slider/01.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/06.webp' type='image/webp')
              img(src="img/hero-slider/06.png", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/03.webp' type='image/webp')
              img(src="img/hero-slider/03.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/04.webp' type='image/webp')
              img(src="img/hero-slider/04.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more

      .swiper-slide
        .hero-slider__item
          .hero-slider__img
            picture
              source(srcset='img/hero-slider/02.webp' type='image/webp')
              img(src="img/hero-slider/02.jpg", alt="Artist")

          .hero-slider__item-inner
            .hero-slider__item-actions.slider-actions
              .hero-slider__item-play.slider-actions__item PL
              .hero-slider__item-info.slider-actions__item IN

            .hero-slider__item-name
              .pb-sm-3 Roma Nebo
              a(href="#").btn.btn-white-glow
                span Learn more
  .swiper-nav.d-none.d-md-flex.justify-content-center.align-items-center
    .arrow-button.arrow-button__prev.swiper-btn-prev
      span PREV
    .nav-notification Scroll to know more
    .arrow-button.arrow-button__next.swiper-btn-next
      span NEXT

  .hero-absolute.absolute.hero-decor
    .container-fluid.h-100
      .row.h-100
        .col-md-5.hero-decor__left.h-100
          .d-flex.flex-column.justify-content-between.h-100
            img(src="img/decorations/decor-01.svg", alt="" data-rellax-speed="2").rellax.parallax-decor
            .decor-circle__one.parallax-decor
            .decor-circle__one.parallax-decor
            .decor-circle__two.parallax-decor
            img(src="img/decorations/decor-05.svg", alt="" data-rellax-speed="5").rellax.parallax-decor
            .decor-circle__one.parallax-decor
            img(src="img/decorations/snake.svg", alt="" data-rellax-speed="-2").rellax.parallax-decor
            img(src="img/decorations/decor-06.svg", alt="" data-rellax-speed="3").rellax.parallax-decor
            .decor-circle__two.parallax-decor
        .col-md-5.offset-md-2.hero-decor__right.h-100
          .d-flex.flex-column.justify-content-between.h-100
            .decor-circle__one.parallax-decor
            .decor-circle__three.parallax-decor
            img(src="img/decorations/decor-07.svg", alt="" data-rellax-speed="3").rellax.parallax-decor
            .decor-circle__three.parallax-decor
            img(src="img/decorations/decor-08.svg", alt="" data-rellax-speed="3").rellax.parallax-decor
            img(src="img/decorations/bird.svg", alt="" data-rellax-speed="-1").rellax.parallax-decor
            img(src="img/decorations/decor-09.svg", alt="" data-rellax-speed="-1.5").rellax.parallax-decor