section.mixes.swiper--lazy#swiperLazy1
	.container
		h3.section-title.text-center Mixes for you
	.mixes-slider.swiper
		.swiper-wrapper
			.swiper-slide
				.mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						button(type="button").mixes-play-btn
							svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
								g(opacity='0.9')
									rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')
									rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')

							svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='#FFFFFF')
						picture
							source(data-srcset='img/mixes/chill.webp' srcset="img/1x1.png" type='image/webp')
							img(data-src='img/mixes/chill.jpg' src="img/1x1.png")
						.mixes-slider__main-title(data-color="chill") Chill
					.mixes-slider__caption
						.mixes-slider__title Relaxing
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa
			.swiper-slide
				.mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						button(type="button").mixes-play-btn
							svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
								g(opacity='0.9')
									rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')
									rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')

							svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='#FFFFFF')
						picture
							source(data-srcset='img/mixes/yoga.webp' srcset="img/1x1.png" type='image/webp')
							img(data-src='img/mixes/yoga.jpg' src="img/1x1.png")
						.mixes-slider__main-title(data-color="yoga") Yoga
					.mixes-slider__caption
						.mixes-slider__title Yoga
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa
			.swiper-slide
				.mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						button(type="button").mixes-play-btn
							svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
								g(opacity='0.9')
									rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')
									rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')

							svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='#FFFFFF')
						picture
							source(data-srcset='img/mixes/sport.webp' srcset="img/1x1.png" type='image/webp')
							img(data-src='img/mixes/sport.jpg' src="img/1x1.png")
						.mixes-slider__main-title(data-color="sport") Sport
					.mixes-slider__caption
						.mixes-slider__title Sport Motivate
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa
			.swiper-slide
				.mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						button(type="button").mixes-play-btn
							svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
								g(opacity='0.9')
									rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')
									rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='#FFFFFF')

							svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='#FFFFFF')
						picture
							source(data-srcset='img/mixes/morning.webp' srcset="img/1x1.png" type='image/webp')
							img(data-src='img/mixes/morning.jpg' src="img/1x1.png")
						.mixes-slider__main-title(data-color="morning") Morning
					.mixes-slider__caption
						.mixes-slider__title Morning Mix
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa

	.container.events-slider-container.pt-5
		.swiper-nav.d-none.d-md-flex.justify-content-between.align-items-center
			.arrow-button.arrow-button__prev.mixes-button-prev
				span PREV
			.arrow-button.arrow-button__next.mixes-button-next
				span NEXT