section.mixes.swiper--lazy#swiperLazy1
	.container
		h3.section-title.text-center Mixes for you
	.mixes-slider.swiper
		.swiper-wrapper
			.swiper-slide
				a(href="#").mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						.placeholder-image
							.icon-loading
						img(src="" data-src="./img/mixes/chill.jpg")
						.mixes-slider__main-title(data-color="chill") Chill
					.mixes-slider__caption
						.mixes-slider__title Relaxing
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa
			.swiper-slide
				a(href="#").mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						.placeholder-image
							.icon-loading
						img(src="" data-src="./img/mixes/yoga.jpg")
						.mixes-slider__main-title(data-color="yoga") Yoga
					.mixes-slider__caption
						.mixes-slider__title Yoga
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa
			.swiper-slide
				a(href="#").mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						.placeholder-image
							.icon-loading
						img(src="" data-src="./img/mixes/sport.jpg")
						.mixes-slider__main-title(data-color="sport") Sport
					.mixes-slider__caption
						.mixes-slider__title Sport Motivate
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa
			.swiper-slide
				a(href="#").mixes-slider__item.d-block
					.mixes-slider__img.lazy-image
						.placeholder-image
							.icon-loading
						img(src="" data-src="./img/mixes/morning.jpg")
						.mixes-slider__main-title(data-color="morning") Morning
					.mixes-slider__caption
						.mixes-slider__title Morning Mix
						.mixes-slider__text Parricio Labarca, Camilo, Andreas Espinosa

	.container.events-slider-container.pt-5
		.swiper-nav.d-none.d-md-flex.justify-content-between.align-items-center
			.arrow-button.arrow-button__prev.mixes-button-prev
				span PREV
			.arrow-button.arrow-button__next.mixes-button-next
				span NEXT