//Player Controls
.player-controls
  audio(src="").main-audio
  .player-volume.sound-container
    button.player-btn.sound-btn
      i.icon-volume
      i.icon-sound-off
    .sound-input
      input.sound-control(type="range" min="0" max="1" step="any" value="1")
  span.controls-divider
  .player-prev
    button.player-btn.player-prev-btn
      svg(width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(opacity='0.6' d='M5.5 6.86603C4.83333 6.48113 4.83333 5.51887 5.5 5.13397L11.5 1.66987C12.1667 1.28497 13 1.7661 13 2.5359L13 9.4641C13 10.2339 12.1667 10.715 11.5 10.3301L5.5 6.86603Z' fill='white')
        path(opacity='0.9' d='M1.5 6.86603C0.833334 6.48113 0.833334 5.51887 1.5 5.13397L7.5 1.66987C8.16667 1.28497 9 1.7661 9 2.5359L9 9.4641C9 10.2339 8.16667 10.715 7.5 10.3301L1.5 6.86603Z' fill='white')


  .player-play-pause
    button.player-btn.player-play-pause-btn.paused
      svg.pause-icon.d-none(width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(opacity='0.9')
          rect(x='0.190796' y='0.428528' width='2.17678' height='9.14286' rx='1.08839' fill='white')
          rect(x='5.63269' y='0.428406' width='2.17678' height='9.14286' rx='1.08839' fill='white')

      svg.play-icon(width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(opacity='0.8' d='M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 2.12948e-06 14.7358 2.19678e-06 13.1962L2.65104e-06 2.80385C2.71834e-06 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z' fill='white')
    img.track-img(src="img/popular/1.jpg")
    .player-progress
      .progress-left
        .progress-bar
      .progress-right
        .progress-bar

  .player-next
    button.player-btn.player-next-btn
      svg(width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(opacity='0.6' d='M5.5 6.86603C4.83333 6.48113 4.83333 5.51887 5.5 5.13397L11.5 1.66987C12.1667 1.28497 13 1.7661 13 2.5359L13 9.4641C13 10.2339 12.1667 10.715 11.5 10.3301L5.5 6.86603Z' fill='white')
        path(opacity='0.9' d='M1.5 6.86603C0.833334 6.48113 0.833334 5.51887 1.5 5.13397L7.5 1.66987C8.16667 1.28497 9 1.7661 9 2.5359L9 9.4641C9 10.2339 8.16667 10.715 7.5 10.3301L1.5 6.86603Z' fill='white')
  span.controls-divider
  .player-fullscreen
    button.player-btn.player-fullscreen-btn
      i.icon-fullscreen

  ul.player-playlist__list.player-list.d-none(style="position: absolute; bottom: 100px;")
  .player-timer.d-none
    span.player-timer__current 0:00
    | /
    span.player-timer__end