section.records
	.container
		.row
			.col-md-6.col-lg-6.d-flex.flex-column.justify-content-center
				h4.section-title.records-title Records
				h5.records-subtitle We provide artists with the best conditions
				p.section-text.records-text.opacity-7 Employees have experience in promoting great artists, teams, working with them. So hitting the radio or writing a hit song on a label can take much less time.
				p.section-text.records-text.opacity-7 The label builds a brand, an image in the minds of listeners, does all the activities that lead to this: leading groups on social networks, promoting tracks and clips, concerts

			.col-md-6.col-lg-6
				.records-image
					.lazy-image
						picture
							source(srcset='img/records/records-desktop.webp' media='(min-width: 768px)' type='image/webp')
							source(data-srcset='img/records/records-desktop.png' media='(min-width: 768px)')
							source(data-srcset='img/records/records-mob.webp' type='image/webp')
							img(data-src='img/records/records-mob.png' src="img/1x1.png" alt='Wise Records')
