//Releases Slider
section.releases
  .container
    .row
      .col-md-6.col-lg-6.d-flex.pb-5.pb-md-0.justify-content-sm-center.justify-content-md-start.align-items-center
        .releases-caption
          h3.section-title.relises-title Releases
          h4.section-subtitle.release-subtitle Explore the latest tracks artists
          p.section-text.releases-text.opacity-7 We support artists and give the best opportunities to to develop the performer as a person and become as a famous world star.

      .col-md-6.col-lg-6
        .swiper.releases-slider.position-relative
          img(src="./img/decorations/eagle.svg").position-absolute
          .swiper-wrapper
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")
            .swiper-slide
              .img-wrapper
                img(src="img/releases/01.png")

          .releases-slider-nav
            .circle-button.circle-button-prev.releases-button-prev
            .circle-button.circle-button-next.releases-button-next

          .releases-slider-info.bg-glass.d-flex.align-items-center
            .play-wrap
              img(src="img/info-play-bg.png")
            .info-wrap
              .track-name Star nation
              .track-info Roma Nebo ft. Electro Wisard & Trinity
