//Studio Section
section.studio
  .swiper.studio-slider
    .swiper-wrapper
      .swiper-slide
        .studio-slider__item
          .studio-slider__img.lazy-image
            .image-placeholder
              .icon-loading
            img(data-src='img/studio-slider/1.webp')
          .studio-slider__caption
            .section-title.studio-slider__title W1SE STUDIO
            .section-subtitle.studio-slider__subtitle We provide high-quality sound
            .section-text.opacity-7 W1SE STUDIO is a state of art modern music studio in Solana Beach, CA with a unique design and atmosphere that contributes to the creation of highly vibrational music.
            a(href="#").btn.btn-light
              span Book now
      .swiper-slide
        .studio-slider__item
          .studio-slider__img.lazy-image
            .image-placeholder
              .icon-loading
            img(data-src='img/studio-slider/1.webp')
          .studio-slider__caption
            .section-title.studio-slider__title W1SE STUDIO
            .section-subtitle.studio-slider__subtitle We provide high-quality sound
            .section-text.opacity-7 W1SE STUDIO is a state of art modern music studio in Solana Beach, CA with a unique design and atmosphere that contributes to the creation of highly vibrational music.
            a(href="#").btn.btn-light
              span Book now
      .swiper-slide
        .studio-slider__item
          .studio-slider__img.lazy-image
            .image-placeholder
              .icon-loading
            img(data-src='img/studio-slider/1.webp')
          .studio-slider__caption
            .section-title.studio-slider__title W1SE STUDIO
            .section-subtitle.studio-slider__subtitle We provide high-quality sound
            .section-text.opacity-7 W1SE STUDIO is a state of art modern music studio in Solana Beach, CA with a unique design and atmosphere that contributes to the creation of highly vibrational music.
            a(href="#").btn.btn-light
              span Book now
    .slider-pagination.studio-pagination